In [1]:
dataset_id = "reporting"
!bq --location=US mk --dataset  reporting

Dataset 'sunny-advantage-266802:reporting' successfully created.

In [ ]:
### QUERY 1 ###

In [31]:
%%bigquery
create table reporting.Average_demographics_Texas as
(select AVG(_STATE) as STATE, AVG(EDUCA) as EDUCATION, AVG(INCOME2) as INCOME, AVG(EMPLOY) as EMPLOYMENT 
from cdc_modeled.DEMOGRAPHIC_Beam_DF)

Empty DataFrame
Columns: []
Index: []

In [32]:
%%bigquery
create table reporting.Average_demographics_Massachusetts as
(select AVG(_STATE) as STATE, AVG(EDUCA) as EDUCATION, AVG(INCOME2) as INCOME, AVG(EMPLOY) as EMPLOYMENT 
from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_DEMOGRAPHIC_Beam_DF)

Empty DataFrame
Columns: []
Index: []

In [33]:
%%bigquery
select * from reporting.Average_demographics_Texas

   STATE  EDUCATION     INCOME  EMPLOYMENT
0   48.0    4.74728  17.627459    3.909306

In [34]:
%%bigquery
select * from reporting.Average_demographics_Massachusetts

   STATE  EDUCATION     INCOME  EMPLOYMENT
0   25.0   4.958002  18.425781    3.583218

In [36]:
%%bigquery
create or replace view reporting.v_Average_demographics_in_TEXAS_and_MASSACHUSETTS as
select * from `sunny-advantage-266802.reporting.Average_demographics_Texas`
union all
select * from `sunny-advantage-266802.reporting.Average_demographics_Massachusetts`

Empty DataFrame
Columns: []
Index: []

In [ ]:
### Query 1 looks at the average demographic aspects of Texas and Massachusetts
### It compares the average income, education and employment rates of both states.

In [ ]:
### QUERY 2 ###

In [37]:
%%bigquery
create table reporting.Overall_Health_Texas as
(select AVG(_STATE) as STATE, AVG(GENHLTH) as GENHLTH, AVG(PHYSHLTH) as PHYSHLTH, AVG(MENTHLTH) as MENTHLTH 
from cdc_modeled.OVERALL_Health_Status_Beam_DF)

Empty DataFrame
Columns: []
Index: []

In [39]:
%%bigquery
create table reporting.Overall_Health_Massachusetts as
(select AVG(_STATE) as STATE, AVG(GENHLTH) as GENHLTH, AVG(PHYSHLTH) as PHYSHLTH, AVG(MENTHLTH) as MENTHLTH 
from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_OVERALL_Health_Status_Beam_DF)

Empty DataFrame
Columns: []
Index: []

In [38]:
%%bigquery
select * from reporting.Overall_Health_Texas

   STATE   GENHLTH   PHYSHLTH   MENTHLTH
0   48.0  2.738028  60.293212  65.692281

In [40]:
%%bigquery
select * from reporting.Overall_Health_Massachusetts

   STATE   GENHLTH   PHYSHLTH   MENTHLTH
0   25.0  2.496685  59.616183  62.751734

In [41]:
%%bigquery
create or replace view reporting.v_Average_Overall_Health_in_TEXAS_and_MASSACHUSETTS as
select * from `sunny-advantage-266802.reporting.Overall_Health_Texas`
union all
select * from `sunny-advantage-266802.reporting.Overall_Health_Massachusetts`

Empty DataFrame
Columns: []
Index: []

In [ ]:
### Query 2 looks at the average overall health status of Texas and Massachusetts
### It compares the average general health, phycial health and mental rates of both states.

In [ ]:
### QUERY 3 ###

In [43]:
%%bigquery
create table reporting.Tobacco_Use_Texas as
(select AVG(_STATE) as STATE, AVG(SMOKE100) as SMOKE100, AVG(SMOKDAY2) as SMOKDAY2, AVG(LASTSMK2) as LASTSMK2, AVG(USENOW3) as USENOW3 
from cdc_modeled.TOBACCO_USE_Beam_DF)

Empty DataFrame
Columns: []
Index: []

In [44]:
%%bigquery
create table reporting.Tobacco_Use_Massachusetts as
(select AVG(_STATE) as STATE, AVG(SMOKE100) as SMOKE100, AVG(SMOKDAY2) as SMOKDAY2, AVG(LASTSMK2) as LASTSMK2, AVG(USENOW3) as USENOW3 
from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_TOBACCO_USE_Beam_DF)

Empty DataFrame
Columns: []
Index: []

In [45]:
%%bigquery
create or replace view reporting.v_Average_Tobacco_Use_in_TEXAS_and_MASSACHUSETTS as
select * from `sunny-advantage-266802.reporting.Tobacco_Use_Texas`
union all
select * from `sunny-advantage-266802.reporting.Tobacco_Use_Massachusetts`

Empty DataFrame
Columns: []
Index: []

In [ ]:
### Query 3 looks at the average tobacco use of Texas and Massachusetts
### It compares the average aspects like SMOKE100, SMOKDAY2, LASTSMK2 and USENOW3 of both states.