In [19]:
dataset_id = "MASSACHUSETTS_cdc_modeled"
!bq --location=US mk --dataset MASSACHUSETTS_cdc_modeled

BigQuery error in mk operation: Dataset 'sunny-
advantage-266802:MASSACHUSETTS_cdc_modeled' already exists.

In [ ]:
### 2011 ###

In [20]:
%%bigquery
CREATE TABLE MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_Each_survey_member_2011
  AS (SELECT SEQNO
      FROM MASSACHUSETTS_cdc_staging.2011
     where _STATE=25);

Empty DataFrame
Columns: []
Index: []

In [21]:
%%bigquery
select count(SEQNO) from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_Each_survey_member_2011

     f0_
0  89312

In [22]:
%%bigquery
select count(distinct SEQNO) from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_Each_survey_member_2011

     f0_
0  22328

In [ ]:
### This confirms that there are duplicates in the table. This will have to be deleted in the next milestone ###

In [23]:
%%bigquery
CREATE TABLE MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_DEMOGRAPHIC_2011 AS
SELECT * FROM(
SELECT SEQNO, _STATE, SEX, MARITAL, EDUCA, EMPLOY, CHILDREN, INCOME2, WEIGHT2, HEIGHT3 FROM MASSACHUSETTS_cdc_staging.2011
WHERE _STATE=25
)

Empty DataFrame
Columns: []
Index: []

In [24]:
%%bigquery
CREATE TABLE MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_OVERALL_Health_Status_2011 
AS SELECT * FROM(
SELECT SEQNO, _STATE, GENHLTH, PHYSHLTH, MENTHLTH from MASSACHUSETTS_cdc_staging.2011 
WHERE _STATE=25
)

Empty DataFrame
Columns: []
Index: []

In [25]:
%%bigquery
SELECT * from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_OVERALL_Health_Status_2011 limit 12

           SEQNO  _STATE  GENHLTH  PHYSHLTH  MENTHLTH
0   2.011005e+09    25.0      2.0      88.0      77.0
1   2.011005e+09    25.0      2.0      88.0      77.0
2   2.011005e+09    25.0      2.0      88.0      77.0
3   2.011005e+09    25.0      2.0      88.0      77.0
4   2.011007e+09    25.0      2.0      88.0      88.0
5   2.011007e+09    25.0      2.0      88.0      88.0
6   2.011007e+09    25.0      2.0      88.0      88.0
7   2.011007e+09    25.0      2.0      88.0      88.0
8   2.011020e+09    25.0      2.0      88.0      88.0
9   2.011020e+09    25.0      2.0      88.0      88.0
10  2.011020e+09    25.0      2.0      88.0      88.0
11  2.011020e+09    25.0      2.0      88.0      88.0

In [29]:
%%bigquery
select count(SEQNO) from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_OVERALL_Health_Status_2011

     f0_
0  89312

In [31]:
%%bigquery
CREATE TABLE MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_HEALTH_CARE_2011 AS
SELECT * FROM(
SELECT SEQNO, _STATE, HLTHPLN1, PERSDOC2, MEDCOST, CHECKUP1 FROM MASSACHUSETTS_cdc_staging.2011
WHERE _STATE=25
)

Empty DataFrame
Columns: []
Index: []

In [32]:
%%bigquery
select count(SEQNO) from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_HEALTH_CARE_2011

     f0_
0  89312

In [33]:
%%bigquery
CREATE TABLE MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_TOBACCO_USE_2011 AS
SELECT * FROM(
SELECT SEQNO, _STATE, SMOKE100, SMOKDAY2, LASTSMK2, USENOW3 from MASSACHUSETTS_cdc_staging.2011
WHERE _STATE=25
)

Empty DataFrame
Columns: []
Index: []

In [34]:
%%bigquery
select count(SEQNO) from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_TOBACCO_USE_2011

     f0_
0  89312

In [ ]:
### 2012 ###

In [35]:
%%bigquery
CREATE TABLE MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_Each_survey_member_2012
  AS (SELECT SEQNO
      FROM cdc_staging.2012
     where _STATE = 25);

Empty DataFrame
Columns: []
Index: []

In [36]:
%%bigquery
select count(SEQNO) from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_Each_survey_member_2012

     f0_
0  21723

In [37]:
%%bigquery
select count(distinct SEQNO) from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_Each_survey_member_2012

     f0_
0  21723

In [38]:
%%bigquery
CREATE TABLE MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_DEMOGRAPHIC_2012 AS
SELECT * FROM(
SELECT distinct SEQNO, _STATE, SEX, MARITAL, EDUCA, EMPLOY, CHILDREN, INCOME2, WEIGHT2, HEIGHT3 from MASSACHUSETTS_cdc_staging.2012
WHERE _STATE = 25
)

Empty DataFrame
Columns: []
Index: []

In [39]:
%%bigquery
CREATE TABLE MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_OVERALL_Health_Status_2012 AS
SELECT * FROM(
SELECT SEQNO, _STATE, GENHLTH, PHYSHLTH, MENTHLTH from MASSACHUSETTS_cdc_staging.2012
WHERE _STATE=25
)

Empty DataFrame
Columns: []
Index: []

In [40]:
%%bigquery
SELECT * from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_OVERALL_Health_Status_2012 limit 12

           SEQNO  _STATE  GENHLTH  PHYSHLTH  MENTHLTH
0   2.012000e+09    25.0      2.0      88.0      88.0
1   2.012000e+09    25.0      2.0      88.0      88.0
2   2.012004e+09    25.0      2.0      88.0      88.0
3   2.012004e+09    25.0      2.0      88.0      88.0
4   2.012012e+09    25.0      2.0      88.0      88.0
5   2.012012e+09    25.0      2.0      88.0      88.0
6   2.012014e+09    25.0      2.0       1.0       2.0
7   2.012014e+09    25.0      2.0       1.0       2.0
8   2.012016e+09    25.0      2.0      88.0       2.0
9   2.012016e+09    25.0      2.0      88.0       2.0
10  2.012018e+09    25.0      2.0      88.0      88.0
11  2.012018e+09    25.0      2.0      88.0      88.0

In [45]:
%%bigquery
select count(SEQNO) from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_OVERALL_Health_Status_2012

     f0_
0  21723

In [41]:
%%bigquery
CREATE TABLE MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_HEALTH_CARE_2012 AS
SELECT * FROM(
SELECT SEQNO, _STATE, HLTHPLN1, PERSDOC2, MEDCOST, CHECKUP1 from MASSACHUSETTS_cdc_staging.2012
WHERE _STATE=25
)

Empty DataFrame
Columns: []
Index: []

In [42]:
%%bigquery
select count(SEQNO) from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_HEALTH_CARE_2012

     f0_
0  43446

In [43]:
%%bigquery
CREATE TABLE MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_TOBACCO_USE_2012 AS
SELECT * FROM(
SELECT SEQNO, _STATE, SMOKE100, SMOKDAY2, LASTSMK2, USENOW3 from MASSACHUSETTS_cdc_staging.2012
WHERE _STATE=25
)

Empty DataFrame
Columns: []
Index: []

In [ ]:
### 2013 ###

In [44]:
%%bigquery
CREATE TABLE MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_Each_survey_member_2013
  AS (SELECT SEQNO
      FROM MASSACHUSETTS_cdc_staging.2013
     where _STATE = 25);

Empty DataFrame
Columns: []
Index: []

In [45]:
%%bigquery
select count(SEQNO) from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_Each_survey_member_2013

     f0_
0  75355

In [46]:
%%bigquery
select count(distinct SEQNO) from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_Each_survey_member_2013

     f0_
0  15071

In [47]:
%%bigquery
CREATE TABLE MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_DEMOGRAPHIC_2013 AS
SELECT * FROM(
SELECT distinct SEQNO, _STATE, SEX, MARITAL, EDUCA, EMPLOY1, CHILDREN, INCOME2, WEIGHT2, HEIGHT3 from MASSACHUSETTS_cdc_staging.2013
WHERE _STATE = 25
)

Empty DataFrame
Columns: []
Index: []

In [48]:
%%bigquery
CREATE TABLE MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_OVERALL_Health_Status_2013 AS
SELECT * FROM(
SELECT SEQNO, _STATE, GENHLTH, PHYSHLTH, MENTHLTH from MASSACHUSETTS_cdc_staging.2013
WHERE _STATE=25
)

Empty DataFrame
Columns: []
Index: []

In [49]:
%%bigquery
CREATE TABLE MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_HEALTH_CARE_2013 AS
SELECT * FROM(
SELECT SEQNO, _STATE, HLTHPLN1, PERSDOC2, MEDCOST, CHECKUP1 from MASSACHUSETTS_cdc_staging.2013
WHERE _STATE=25
)

Empty DataFrame
Columns: []
Index: []

In [50]:
%%bigquery
CREATE TABLE MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_TOBACCO_USE_2013 AS
SELECT * FROM(
SELECT SEQNO, _STATE, SMOKE100, SMOKDAY2, LASTSMK2, USENOW3 from MASSACHUSETTS_cdc_staging.2013
WHERE _STATE=25
)

Empty DataFrame
Columns: []
Index: []

In [ ]:
### Tables have been created for 2011, 2012 and 2013 for Each_survey_member, OVERALL_Health_Status, HEALTH_CARE, TOBACCO_USE and ALCOHOL_CONSUMPTION

In [ ]:
### Unionizing the yearly data

In [52]:
%%bigquery
CREATE TABLE MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_Each_survey_member_float AS
SELECT * FROM(
SELECT SEQNO
FROM MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_Each_survey_member_2011
UNION ALL
SELECT SEQNO
FROM MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_Each_survey_member_2012
UNION ALL
SELECT SEQNO
FROM MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_Each_survey_member_2013)

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%bigquery
select count(SEQNO) from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_Each_survey_member_float

In [ ]:
%%bigquery
select count(distinct SEQNO) from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_Each_survey_member_float

In [54]:
%%bigquery
CREATE TABLE MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_DEMOGRAPHIC_float AS
SELECT * FROM(
SELECT SEQNO, _STATE, SEX, MARITAL, EDUCA, EMPLOY, CHILDREN, INCOME2, WEIGHT2, HEIGHT3
FROM MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_DEMOGRAPHIC_2011
UNION ALL
SELECT SEQNO, _STATE, SEX, MARITAL, EDUCA, EMPLOY, CHILDREN, INCOME2, WEIGHT2, HEIGHT3
FROM MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_DEMOGRAPHIC_2012
UNION ALL
SELECT SEQNO, _STATE, SEX, MARITAL, EDUCA, EMPLOY1, CHILDREN, INCOME2, WEIGHT2, HEIGHT3
FROM MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_DEMOGRAPHIC_2013)

Empty DataFrame
Columns: []
Index: []

In [55]:
%%bigquery
CREATE TABLE MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_OVERALL_Health_Status_float AS
SELECT * FROM(
SELECT SEQNO, _STATE, GENHLTH, PHYSHLTH, MENTHLTH
FROM MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_OVERALL_Health_Status_2011
UNION ALL
SELECT SEQNO, _STATE, GENHLTH, PHYSHLTH, MENTHLTH
FROM MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_OVERALL_Health_Status_2012
UNION ALL
SELECT SEQNO, _STATE, GENHLTH, PHYSHLTH, MENTHLTH
FROM MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_OVERALL_Health_Status_2013)

Empty DataFrame
Columns: []
Index: []

In [56]:
%%bigquery
CREATE TABLE MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_HEALTH_CARE_float AS
SELECT * FROM(
SELECT SEQNO, _STATE, HLTHPLN1, PERSDOC2, MEDCOST, CHECKUP1
FROM MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_HEALTH_CARE_2011
UNION ALL
SELECT SEQNO, _STATE, HLTHPLN1, PERSDOC2, MEDCOST, CHECKUP1
FROM MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_HEALTH_CARE_2012
UNION ALL
SELECT SEQNO, _STATE, HLTHPLN1, PERSDOC2, MEDCOST, CHECKUP1
FROM MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_HEALTH_CARE_2012)

Empty DataFrame
Columns: []
Index: []

In [57]:
%%bigquery
CREATE TABLE MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_TOBACCO_USE_float AS
SELECT * FROM(
SELECT SEQNO, _STATE, SMOKE100, SMOKDAY2, LASTSMK2, USENOW3
FROM MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_TOBACCO_USE_2011
UNION ALL
SELECT SEQNO, _STATE, SMOKE100, SMOKDAY2, LASTSMK2, USENOW3
FROM MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_TOBACCO_USE_2012
UNION ALL
SELECT SEQNO, _STATE, SMOKE100, SMOKDAY2, LASTSMK2, USENOW3
FROM MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_TOBACCO_USE_2013)

Empty DataFrame
Columns: []
Index: []

In [ ]:
### CASTING ALL THE FLOAT VALUES TO INT ####

In [58]:
%%bigquery
CREATE TABLE MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_Each_survey_member AS
SELECT CAST(SEQNO AS INT64) SEQNO FROM MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_Each_survey_member_float

Empty DataFrame
Columns: []
Index: []

In [60]:
%%bigquery
CREATE TABLE MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_DEMOGRAPHIC AS
SELECT CAST(SEQNO AS INT64) SEQNO, 
CAST(_STATE AS INT64) _STATE, 
CAST(SEX AS INT64) SEX, 
CAST (MARITAL AS INT64) MARITAL, 
CAST (EDUCA  AS INT64) EDUCA, 
CAST (EMPLOY  AS INT64) EMPLOY, 
CAST (CHILDREN  AS INT64) CHILDREN, 
CAST (INCOME2  AS INT64) INCOME2, 
CAST (WEIGHT2  AS INT64) WEIGHT2, 
CAST (HEIGHT3  AS INT64) HEIGHT3
FROM MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_DEMOGRAPHIC_float

Empty DataFrame
Columns: []
Index: []

In [61]:
%%bigquery
CREATE TABLE MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_OVERALL_Health_Status AS
SELECT CAST(SEQNO AS INT64) SEQNO, 
CAST(_STATE AS INT64) _STATE, 
CAST(GENHLTH AS INT64) GENHLTH, 
CAST (PHYSHLTH AS INT64) PHYSHLTH, 
CAST (MENTHLTH  AS INT64) MENTHLTH, 
FROM MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_OVERALL_Health_Status_float

Empty DataFrame
Columns: []
Index: []

In [62]:
%%bigquery
CREATE TABLE MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_HEALTH_CARE AS
SELECT CAST(SEQNO AS INT64) SEQNO, 
CAST(_STATE AS INT64) _STATE, 
CAST(HLTHPLN1 AS INT64) HLTHPLN1, 
CAST (PERSDOC2 AS INT64) PERSDOC2, 
CAST (MEDCOST  AS INT64) MEDCOST, 
CAST (CHECKUP1  AS INT64) CHECKUP1, 
FROM MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_HEALTH_CARE_float

Empty DataFrame
Columns: []
Index: []

In [63]:
%%bigquery
CREATE TABLE MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_TOBACCO_USE AS
SELECT CAST(SEQNO AS INT64) SEQNO, 
CAST(_STATE AS INT64) _STATE, 
CAST( SMOKE100 AS INT64)  SMOKE100, 
CAST (SMOKDAY2 AS INT64) SMOKDAY2, 
CAST (LASTSMK2  AS INT64) LASTSMK2, 
CAST (USENOW3  AS INT64) USENOW3, 
FROM MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_TOBACCO_USE_float

Empty DataFrame
Columns: []
Index: []

In [ ]:
####################################### CHECKING FOR PRIMARY KEYS ###########################################

In [1]:
%%bigquery
select count(SEQNO) from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_Each_survey_member

      f0_
0  186390

In [3]:
%%bigquery
select count(distinct SEQNO) from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_Each_survey_member

     f0_
0  59122

In [ ]:
## Unfortunately, this table has duplicated which need to be deleted (in the next milestone)

In [4]:
%%bigquery
select count(SEQNO) from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_DEMOGRAPHIC

      f0_
0  126106

In [5]:
%%bigquery
select count(distinct SEQNO) from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_DEMOGRAPHIC

     f0_
0  59122

In [ ]:
## Unfortunately, this table has duplicated which need to be deleted (in the next milestone)

In [6]:
%%bigquery
select count(SEQNO) from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_OVERALL_Health_Status

      f0_
0  208113

In [7]:
%%bigquery
select count(distinct SEQNO) from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_OVERALL_Health_Status

     f0_
0  59122

In [ ]:
## Unfortunately, this table has duplicated which need to be deleted (in the next milestone)

In [8]:
%%bigquery
select count(SEQNO) from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_HEALTH_CARE

      f0_
0  176204

In [9]:
%%bigquery
select count(distinct SEQNO) from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_HEALTH_CARE

     f0_
0  44051

In [ ]:
## Unfortunately, this table has duplicated which need to be deleted (in the next milestone)

In [10]:
%%bigquery
select count(SEQNO) from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_TOBACCO_USE

      f0_
0  208113

In [11]:
%%bigquery
select count(distinct SEQNO) from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_TOBACCO_USE

     f0_
0  59122

In [ ]:
### Removing duplicates in each table ####

In [6]:
%%bigquery
DROP table MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_DEMOGRAPHIC

Empty DataFrame
Columns: []
Index: []

In [7]:
%%bigquery
CREATE TABLE MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_DEMOGRAPHIC AS
SELECT distinct CAST(SEQNO AS INT64) SEQNO, 
CAST(_STATE AS INT64) _STATE, 
CAST(SEX AS INT64) SEX, 
CAST (MARITAL AS INT64) MARITAL, 
CAST (EDUCA  AS INT64) EDUCA, 
CAST (EMPLOY  AS INT64) EMPLOY, 
CAST (CHILDREN  AS INT64) CHILDREN, 
CAST (INCOME2  AS INT64) INCOME2, 
CAST (WEIGHT2  AS INT64) WEIGHT2, 
CAST (HEIGHT3  AS INT64) HEIGHT3
FROM MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_DEMOGRAPHIC_float

Empty DataFrame
Columns: []
Index: []

In [9]:
%%bigquery
select count(SEQNO) from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_DEMOGRAPHIC

     f0_
0  59122

In [10]:
%%bigquery
select distinct count(SEQNO) from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_DEMOGRAPHIC

     f0_
0  59122

In [11]:
%%bigquery
DROP table MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_OVERALL_Health_Status

Empty DataFrame
Columns: []
Index: []

In [12]:
%%bigquery
CREATE TABLE MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_OVERALL_Health_Status AS
SELECT distinct CAST(SEQNO AS INT64) SEQNO, 
CAST(_STATE AS INT64) _STATE, 
CAST(GENHLTH AS INT64) GENHLTH, 
CAST (PHYSHLTH AS INT64) PHYSHLTH, 
CAST (MENTHLTH  AS INT64) MENTHLTH, 
FROM MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_OVERALL_Health_Status_float

Empty DataFrame
Columns: []
Index: []

In [13]:
%%bigquery
select count(SEQNO) from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_OVERALL_Health_Status

     f0_
0  59122

In [14]:
%%bigquery
select distinct count(SEQNO) from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_OVERALL_Health_Status

     f0_
0  59122

In [16]:
%%bigquery
DROP table MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_HEALTH_CARE

Empty DataFrame
Columns: []
Index: []

In [17]:
%%bigquery
CREATE TABLE MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_HEALTH_CARE AS
SELECT distinct CAST(SEQNO AS INT64) SEQNO, 
CAST(_STATE AS INT64) _STATE, 
CAST(HLTHPLN1 AS INT64) HLTHPLN1, 
CAST (PERSDOC2 AS INT64) PERSDOC2, 
CAST (MEDCOST  AS INT64) MEDCOST, 
CAST (CHECKUP1  AS INT64) CHECKUP1, 
FROM MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_HEALTH_CARE_float

Empty DataFrame
Columns: []
Index: []

In [18]:
%%bigquery
select count(SEQNO) from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_HEALTH_CARE

     f0_
0  44051

In [19]:
%%bigquery
select count(distinct SEQNO) from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_HEALTH_CARE

     f0_
0  44051

In [20]:
%%bigquery
DROP table MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_TOBACCO_USE

Empty DataFrame
Columns: []
Index: []

In [21]:
%%bigquery
CREATE TABLE MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_TOBACCO_USE AS
SELECT distinct CAST(SEQNO AS INT64) SEQNO, 
CAST(_STATE AS INT64) _STATE, 
CAST( SMOKE100 AS INT64)  SMOKE100, 
CAST (SMOKDAY2 AS INT64) SMOKDAY2, 
CAST (LASTSMK2  AS INT64) LASTSMK2, 
CAST (USENOW3  AS INT64) USENOW3, 
FROM MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_TOBACCO_USE_float

Empty DataFrame
Columns: []
Index: []

In [23]:
%%bigquery
select count(SEQNO) from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_TOBACCO_USE

     f0_
0  59122

In [24]:
%%bigquery
select count(distinct SEQNO) from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_TOBACCO_USE

     f0_
0  59122

In [ ]:
### The following tables have a valid PK and the same number of SEQNOs: 
# MASSACHUSETTS_DEMOGRAPHIC
# MASSACHUSETTS_OVERALL_Health_Status
# MASSACHUSETTS_TOBACCO_USE
### However MASSACHUSETTS_HEALTH_CARE has only 44051 SEQNOs, and this is an FK violation
### All other tables have 59122 SEQNOs
### All tables now have a valid PK

In [ ]:
### Running transformations on beam

In [1]:
%run MASSACHUSETTS_DEMOGRAPHIC_beam.py

WARNING:apache_beam.runners.interactive.interactive_environment:Interactive Beam requires Python 3.5.3+.
WARNING:apache_beam.runners.interactive.interactive_environment:Dependencies required for Interactive Beam PCollection visualization are not available, please use: `pip install apache-beam[interactive]` to install necessary dependencies to enable all data visualization features.
/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/io/gcp/bigquery.py:1421: BeamDeprecationWarning: options is deprecated since First stable release. References to <pipeline>.options will not be supported
  experiments = p.options.view_as(DebugOptions).experiments or []

query_results PCollection[Read from BigQuery.None]

INFO:apache_beam.runners.direct.direct_runner:Running pipeline with DirectRunner.
INFO:apache_beam.internal.gcp.auth:Setting socket default timeout to 60 seconds.
INFO:apache_beam.internal.gcp.auth:socket default timeout is 60.0 seconds.
INFO:oauth2client.transport:Attempting refresh to obtain initial access_token
INFO:apache_beam.io.gcp.bigquery_tools:Using location 'US' from table <TableReference
 datasetId: 'MASSACHUSETTS_cdc_modeled'
 projectId: 'sunny-advantage-266802'
 tableId: 'MASSACHUSETTS_DEMOGRAPHIC'> referenced by query SELECT SEQNO, _STATE, SEX, MARITAL, EDUCA, EMPLOY, CHILDREN, INCOME2, WEIGHT2, HEIGHT3  FROM MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_DEMOGRAPHIC limit 50
WARNING:apache_beam.io.gcp.bigquery_tools:Dataset sunny-advantage-266802:temp_dataset_73a74a45ea2e47dbaa3f6ed150f20703 does not exist so we will create it as temporary with location=US
INFO:apache_beam.io.gcp.bigquery_tools:Created table sunny-advantage-266802.MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_DEMOGRAPHIC_Beam with schema <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'SEQNO'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: '_STATE'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'SEX'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'MARITAL'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'EDUCA'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'EMPLOY'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'CHILDREN'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'INCOME2'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'WEIGHT2'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'HEIGHT3'
 type: 'INTEGER'>]>. Result: <Table
 creationTime: 1587851936767
 etag: '1usbCRel0TBSWmRjl5LdaQ=='
 id: 'sunny-advantage-266802:MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_DEMOGRAPHIC_Beam'
 kind: 'bigquery#table'
 lastModifiedTime: 1587851936839
 location: 'US'
 numBytes: 0
 numLongTermBytes: 0
 numRows: 0
 schema: <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'SEQNO'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: '_STATE'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'SEX'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'MARITAL'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'EDUCA'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'EMPLOY'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'CHILDREN'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'INCOME2'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'WEIGHT2'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'HEIGHT3'
 type: 'INTEGER'>]>
 selfLink: 'https://www.googleapis.com/bigquery/v2/projects/sunny-advantage-266802/datasets/MASSACHUSETTS_cdc_modeled/tables/MASSACHUSETTS_DEMOGRAPHIC_Beam'
 tableReference: <TableReference
 datasetId: 'MASSACHUSETTS_cdc_modeled'
 projectId: 'sunny-advantage-266802'
 tableId: 'MASSACHUSETTS_DEMOGRAPHIC_Beam'>
 type: 'TABLE'>.
WARNING:apache_beam.io.gcp.bigquery_tools:Sleeping for 150 seconds before the write as BigQuery inserts can be routed to deleted table for 2 mins after the delete and create.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.11 seconds.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.

In [2]:
%run MASSACHUSETTS_DEMOGRAPHIC_beam_dataflow.py

WARNING:apache_beam.options.pipeline_options:--region not set; will default to us-central1. Future releases of Beam will require the user to set --region explicitly, or else have a default set via the gcloud tool. https://cloud.google.com/compute/docs/regions-zones
/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/runners/dataflow/dataflow_runner.py:740: BeamDeprecationWarning: BigQuerySink is deprecated since 2.11.0. Use WriteToBigQuery instead.
  kms_key=transform.kms_key))
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-demographic2.1587852245.375230/pipeline.pb...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-demographic2.1587852245.375230/pipeline.pb in 0 seconds.
INFO:apache_beam.runners.portability.stager:Downloading source distribution of the SDK from PyPi
INFO:apache_beam.runners.portability.stager:Executing command: ['/home/jupyter/venv/bin/python', '-m', 'pip', 'download', '--dest', '/tmp/tmpdu557h7h', 'apache-beam==2.19.0', '--no-deps', '--no-binary', ':all:']
INFO:apache_beam.runners.portability.stager:Staging SDK sources from PyPI to gs://beam_cs327e_data_thedataminers/staging/transform-demographic2.1587852245.375230/dataflow_python_sdk.tar
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-demographic2.1587852245.375230/dataflow_python_sdk.tar...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-demographic2.1587852245.375230/dataflow_python_sdk.tar in 0 seconds.
INFO:apache_beam.runners.portability.stager:Downloading binary distribution of the SDK from PyPi
INFO:apache_beam.runners.portability.stager:Executing command: ['/home/jupyter/venv/bin/python', '-m', 'pip', 'download', '--dest', '/tmp/tmpdu557h7h', 'apache-beam==2.19.0', '--no-deps', '--only-binary', ':all:', '--python-version', '35', '--implementation', 'cp', '--abi', 'cp35m', '--platform', 'manylinux1_x86_64']
INFO:apache_beam.runners.portability.stager:Staging binary distribution of the SDK from PyPI to gs://beam_cs327e_data_thedataminers/staging/transform-demographic2.1587852245.375230/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-demographic2.1587852245.375230/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-demographic2.1587852245.375230/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl in 0 seconds.
INFO:apache_beam.runners.dataflow.internal.apiclient:Create job: <Job
 createTime: '2020-04-25T22:04:12.269724Z'
 currentStateTime: '1970-01-01T00:00:00Z'
 id: '2020-04-25_15_04_11-11366792488102110064'
 location: 'us-central1'
 name: 'transform-demographic2'
 projectId: 'sunny-advantage-266802'
 stageStates: []
 startTime: '2020-04-25T22:04:12.269724Z'
 steps: []
 tempFiles: []
 type: TypeValueValuesEnum(JOB_TYPE_BATCH, 1)>
INFO:apache_beam.runners.dataflow.internal.apiclient:Created job with id: [2020-04-25_15_04_11-11366792488102110064]
INFO:apache_beam.runners.dataflow.internal.apiclient:To access the Dataflow monitoring console, please navigate to https://console.cloud.google.com/dataflow/jobsDetail/locations/us-central1/jobs/2020-04-25_15_04_11-11366792488102110064?project=sunny-advantage-266802
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-04-25_15_04_11-11366792488102110064 is in state JOB_STATE_PENDING
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:11.066Z: JOB_MESSAGE_DETAILED: Autoscaling is enabled for job 2020-04-25_15_04_11-11366792488102110064. The number of workers will be between 1 and 1000.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:11.066Z: JOB_MESSAGE_DETAILED: Autoscaling was automatically enabled for job 2020-04-25_15_04_11-11366792488102110064.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:14.095Z: JOB_MESSAGE_DETAILED: Checking permissions granted to controller Service Account.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:14.687Z: JOB_MESSAGE_BASIC: Worker configuration: n1-standard-4 in us-central1-c.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:15.136Z: JOB_MESSAGE_DETAILED: Expanding CoGroupByKey operations into optimizable parts.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:15.161Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Write log 2/Write/WriteImpl/GroupByKey: GroupByKey not followed by a combiner.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:15.186Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Write log 1/Write/WriteImpl/GroupByKey: GroupByKey not followed by a combiner.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:15.213Z: JOB_MESSAGE_DETAILED: Expanding GroupByKey operations into optimizable parts.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:15.234Z: JOB_MESSAGE_DETAILED: Lifting ValueCombiningMappingFns into MergeBucketsMappingFns
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:15.317Z: JOB_MESSAGE_DEBUG: Annotating graph with Autotuner information.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:15.588Z: JOB_MESSAGE_DETAILED: Fusing adjacent ParDo, Read, Write, and Flatten operations
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:15.617Z: JOB_MESSAGE_DETAILED: Fusing consumer Format NULL values into Read from BigQuery
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:15.638Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/WriteBundles/WriteBundles into Read from BigQuery
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:15.661Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/WriteBundles/WriteBundles into Format NULL values
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:15.684Z: JOB_MESSAGE_DETAILED: Fusing consumer Write BQ table/WriteToBigQuery/NativeWrite into Format NULL values
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:15.707Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/Pair into Write log 1/Write/WriteImpl/WriteBundles/WriteBundles
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:15.736Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/WindowInto(WindowIntoFn) into Write log 1/Write/WriteImpl/Pair
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:15.757Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/GroupByKey/Reify into Write log 1/Write/WriteImpl/WindowInto(WindowIntoFn)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:15.782Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/GroupByKey/Write into Write log 1/Write/WriteImpl/GroupByKey/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:15.805Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/GroupByKey/GroupByWindow into Write log 1/Write/WriteImpl/GroupByKey/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:15.832Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/Extract into Write log 1/Write/WriteImpl/GroupByKey/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:15.851Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/Pair into Write log 2/Write/WriteImpl/WriteBundles/WriteBundles
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:15.879Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/WindowInto(WindowIntoFn) into Write log 2/Write/WriteImpl/Pair
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:15.905Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/GroupByKey/Reify into Write log 2/Write/WriteImpl/WindowInto(WindowIntoFn)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:15.929Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/GroupByKey/Write into Write log 2/Write/WriteImpl/GroupByKey/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:15.954Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/GroupByKey/GroupByWindow into Write log 2/Write/WriteImpl/GroupByKey/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:15.980Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/Extract into Write log 2/Write/WriteImpl/GroupByKey/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:16.008Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/InitializeWrite into Write log 1/Write/WriteImpl/DoOnce/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:16.034Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/InitializeWrite into Write log 2/Write/WriteImpl/DoOnce/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:16.059Z: JOB_MESSAGE_DEBUG: Workflow config is missing a default resource spec.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:16.081Z: JOB_MESSAGE_DEBUG: Adding StepResource setup and teardown to workflow graph.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:16.099Z: JOB_MESSAGE_DEBUG: Adding workflow start and stop steps.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:16.130Z: JOB_MESSAGE_DEBUG: Assigning stage ids.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:16.262Z: JOB_MESSAGE_DEBUG: Executing wait step start29
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:16.364Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/DoOnce/Read+Write log 2/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:16.385Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/DoOnce/Read+Write log 1/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:16.406Z: JOB_MESSAGE_DEBUG: Starting worker pool setup.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:16.411Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:16.432Z: JOB_MESSAGE_BASIC: Starting 1 workers in us-central1-c...
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:16.434Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:16.476Z: JOB_MESSAGE_BASIC: Finished operation Write log 1/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:16.476Z: JOB_MESSAGE_BASIC: Finished operation Write log 2/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:16.529Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/GroupByKey/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:16.557Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/GroupByKey/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-04-25_15_04_11-11366792488102110064 is in state JOB_STATE_RUNNING
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:04:44.773Z: JOB_MESSAGE_DETAILED: Autoscaling: Raised the number of workers to 1 based on the rate of progress in the currently running stage(s).
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:06:04.022Z: JOB_MESSAGE_DETAILED: Workers have started successfully.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:06:04.050Z: JOB_MESSAGE_DETAILED: Workers have started successfully.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:06:32.454Z: JOB_MESSAGE_BASIC: Finished operation Write log 1/Write/WriteImpl/DoOnce/Read+Write log 1/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:06:32.506Z: JOB_MESSAGE_BASIC: Finished operation Write log 2/Write/WriteImpl/DoOnce/Read+Write log 2/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:06:32.528Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/DoOnce/Read.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:06:32.565Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/InitializeWrite.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:06:32.596Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/DoOnce/Read.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:06:32.625Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/InitializeWrite.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:06:32.658Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:06:32.691Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:06:32.719Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:06:32.730Z: JOB_MESSAGE_BASIC: Finished operation Write log 1/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:06:32.754Z: JOB_MESSAGE_BASIC: Finished operation Write log 1/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:06:32.755Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:06:32.779Z: JOB_MESSAGE_BASIC: Finished operation Write log 1/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:06:32.786Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:06:32.807Z: JOB_MESSAGE_BASIC: Finished operation Write log 2/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:06:32.812Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:06:32.848Z: JOB_MESSAGE_BASIC: Finished operation Write log 2/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:06:32.851Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:06:32.874Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:06:32.875Z: JOB_MESSAGE_BASIC: Finished operation Write log 2/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:06:32.961Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:06:32.997Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:06:33.030Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:06:33.069Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:06:33.105Z: JOB_MESSAGE_BASIC: Executing operation Read from BigQuery+Format NULL values+Write log 1/Write/WriteImpl/WriteBundles/WriteBundles+Write log 2/Write/WriteImpl/WriteBundles/WriteBundles+Write BQ table/WriteToBigQuery/NativeWrite+Write log 1/Write/WriteImpl/Pair+Write log 1/Write/WriteImpl/WindowInto(WindowIntoFn)+Write log 1/Write/WriteImpl/GroupByKey/Reify+Write log 1/Write/WriteImpl/GroupByKey/Write+Write log 2/Write/WriteImpl/Pair+Write log 2/Write/WriteImpl/WindowInto(WindowIntoFn)+Write log 2/Write/WriteImpl/GroupByKey/Reify+Write log 2/Write/WriteImpl/GroupByKey/Write
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:06:33.980Z: JOB_MESSAGE_BASIC: BigQuery query issued as job: "dataflow_job_6026287274098993396". You can check its status with the bq tool: "bq show -j --project_id=sunny-advantage-266802 dataflow_job_6026287274098993396".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:07:39.455Z: JOB_MESSAGE_BASIC: BigQuery query completed, job : "dataflow_job_6026287274098993396"
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:07:39.826Z: JOB_MESSAGE_BASIC: BigQuery export job "dataflow_job_2787177883208695409" started. You can check its status with the bq tool: "bq show -j --project_id=sunny-advantage-266802 dataflow_job_2787177883208695409".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:08:10.161Z: JOB_MESSAGE_DETAILED: BigQuery export job progress: "dataflow_job_2787177883208695409" observed total of 1 exported files thus far.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:08:10.191Z: JOB_MESSAGE_BASIC: BigQuery export job finished: "dataflow_job_2787177883208695409"
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:08:18.041Z: JOB_MESSAGE_BASIC: Executing BigQuery import job "dataflow_job_6026287274098991352". You can check its status with the bq tool: "bq show -j --project_id=sunny-advantage-266802 dataflow_job_6026287274098991352".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:08:28.525Z: JOB_MESSAGE_BASIC: BigQuery import job "dataflow_job_6026287274098991352" done.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:08:28.961Z: JOB_MESSAGE_BASIC: Finished operation Read from BigQuery+Format NULL values+Write log 1/Write/WriteImpl/WriteBundles/WriteBundles+Write log 2/Write/WriteImpl/WriteBundles/WriteBundles+Write BQ table/WriteToBigQuery/NativeWrite+Write log 1/Write/WriteImpl/Pair+Write log 1/Write/WriteImpl/WindowInto(WindowIntoFn)+Write log 1/Write/WriteImpl/GroupByKey/Reify+Write log 1/Write/WriteImpl/GroupByKey/Write+Write log 2/Write/WriteImpl/Pair+Write log 2/Write/WriteImpl/WindowInto(WindowIntoFn)+Write log 2/Write/WriteImpl/GroupByKey/Reify+Write log 2/Write/WriteImpl/GroupByKey/Write
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:08:29.019Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/GroupByKey/Close
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:08:29.043Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/GroupByKey/Close

In [2]:
%run MASSACHUSETTS_OVERALL_Health_Status_beam.py

WARNING:apache_beam.runners.interactive.interactive_environment:Interactive Beam requires Python 3.5.3+.
WARNING:apache_beam.runners.interactive.interactive_environment:Dependencies required for Interactive Beam PCollection visualization are not available, please use: `pip install apache-beam[interactive]` to install necessary dependencies to enable all data visualization features.
/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/io/gcp/bigquery.py:1421: BeamDeprecationWarning: options is deprecated since First stable release. References to <pipeline>.options will not be supported
  experiments = p.options.view_as(DebugOptions).experiments or []

query_results PCollection[Read from BigQuery.None]

INFO:apache_beam.runners.direct.direct_runner:Running pipeline with DirectRunner.
INFO:apache_beam.internal.gcp.auth:Setting socket default timeout to 60 seconds.
INFO:apache_beam.internal.gcp.auth:socket default timeout is 60.0 seconds.
INFO:oauth2client.transport:Attempting refresh to obtain initial access_token
INFO:apache_beam.io.gcp.bigquery_tools:Using location 'US' from table <TableReference
 datasetId: 'MASSACHUSETTS_cdc_modeled'
 projectId: 'sunny-advantage-266802'
 tableId: 'MASSACHUSETTS_OVERALL_Health_Status'> referenced by query SELECT SEQNO, _STATE, GENHLTH, PHYSHLTH, MENTHLTH FROM MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_OVERALL_Health_Status limit 50
WARNING:apache_beam.io.gcp.bigquery_tools:Dataset sunny-advantage-266802:temp_dataset_7b872d6a3b2645d19fa7405740c5966c does not exist so we will create it as temporary with location=US
INFO:apache_beam.io.gcp.bigquery_tools:Created table sunny-advantage-266802.MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_OVERALL_Health_Status_Beam with schema <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'SEQNO'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: '_STATE'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'GENHLTH'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'PHYSHLTH'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'MENTHLTH'
 type: 'INTEGER'>]>. Result: <Table
 creationTime: 1587854932528
 etag: 'LzfPapc5SnG7heOTzrYrHA=='
 id: 'sunny-advantage-266802:MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_OVERALL_Health_Status_Beam'
 kind: 'bigquery#table'
 lastModifiedTime: 1587854932575
 location: 'US'
 numBytes: 0
 numLongTermBytes: 0
 numRows: 0
 schema: <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'SEQNO'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: '_STATE'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'GENHLTH'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'PHYSHLTH'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'MENTHLTH'
 type: 'INTEGER'>]>
 selfLink: 'https://www.googleapis.com/bigquery/v2/projects/sunny-advantage-266802/datasets/MASSACHUSETTS_cdc_modeled/tables/MASSACHUSETTS_OVERALL_Health_Status_Beam'
 tableReference: <TableReference
 datasetId: 'MASSACHUSETTS_cdc_modeled'
 projectId: 'sunny-advantage-266802'
 tableId: 'MASSACHUSETTS_OVERALL_Health_Status_Beam'>
 type: 'TABLE'>.
WARNING:apache_beam.io.gcp.bigquery_tools:Sleeping for 150 seconds before the write as BigQuery inserts can be routed to deleted table for 2 mins after the delete and create.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.

In [3]:
%run MASSACHUSETTS_OVERALL_Health_Status_beam_dataflow.py

WARNING:apache_beam.options.pipeline_options:--region not set; will default to us-central1. Future releases of Beam will require the user to set --region explicitly, or else have a default set via the gcloud tool. https://cloud.google.com/compute/docs/regions-zones
/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/runners/dataflow/dataflow_runner.py:740: BeamDeprecationWarning: BigQuerySink is deprecated since 2.11.0. Use WriteToBigQuery instead.
  kms_key=transform.kms_key))
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-overall-health-status2.1587855140.136596/pipeline.pb...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-overall-health-status2.1587855140.136596/pipeline.pb in 0 seconds.
INFO:apache_beam.runners.portability.stager:Downloading source distribution of the SDK from PyPi
INFO:apache_beam.runners.portability.stager:Executing command: ['/home/jupyter/venv/bin/python', '-m', 'pip', 'download', '--dest', '/tmp/tmpr_5mt1jc', 'apache-beam==2.19.0', '--no-deps', '--no-binary', ':all:']
INFO:apache_beam.runners.portability.stager:Staging SDK sources from PyPI to gs://beam_cs327e_data_thedataminers/staging/transform-overall-health-status2.1587855140.136596/dataflow_python_sdk.tar
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-overall-health-status2.1587855140.136596/dataflow_python_sdk.tar...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-overall-health-status2.1587855140.136596/dataflow_python_sdk.tar in 0 seconds.
INFO:apache_beam.runners.portability.stager:Downloading binary distribution of the SDK from PyPi
INFO:apache_beam.runners.portability.stager:Executing command: ['/home/jupyter/venv/bin/python', '-m', 'pip', 'download', '--dest', '/tmp/tmpr_5mt1jc', 'apache-beam==2.19.0', '--no-deps', '--only-binary', ':all:', '--python-version', '35', '--implementation', 'cp', '--abi', 'cp35m', '--platform', 'manylinux1_x86_64']
INFO:apache_beam.runners.portability.stager:Staging binary distribution of the SDK from PyPI to gs://beam_cs327e_data_thedataminers/staging/transform-overall-health-status2.1587855140.136596/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-overall-health-status2.1587855140.136596/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-overall-health-status2.1587855140.136596/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl in 0 seconds.
INFO:apache_beam.runners.dataflow.internal.apiclient:Create job: <Job
 createTime: '2020-04-25T22:52:25.157474Z'
 currentStateTime: '1970-01-01T00:00:00Z'
 id: '2020-04-25_15_52_23-16171798327943254882'
 location: 'us-central1'
 name: 'transform-overall-health-status2'
 projectId: 'sunny-advantage-266802'
 stageStates: []
 startTime: '2020-04-25T22:52:25.157474Z'
 steps: []
 tempFiles: []
 type: TypeValueValuesEnum(JOB_TYPE_BATCH, 1)>
INFO:apache_beam.runners.dataflow.internal.apiclient:Created job with id: [2020-04-25_15_52_23-16171798327943254882]
INFO:apache_beam.runners.dataflow.internal.apiclient:To access the Dataflow monitoring console, please navigate to https://console.cloud.google.com/dataflow/jobsDetail/locations/us-central1/jobs/2020-04-25_15_52_23-16171798327943254882?project=sunny-advantage-266802
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-04-25_15_52_23-16171798327943254882 is in state JOB_STATE_PENDING
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:24.022Z: JOB_MESSAGE_DETAILED: Autoscaling was automatically enabled for job 2020-04-25_15_52_23-16171798327943254882.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:24.022Z: JOB_MESSAGE_DETAILED: Autoscaling is enabled for job 2020-04-25_15_52_23-16171798327943254882. The number of workers will be between 1 and 1000.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:27.562Z: JOB_MESSAGE_DETAILED: Checking permissions granted to controller Service Account.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:28.295Z: JOB_MESSAGE_BASIC: Worker configuration: n1-standard-4 in us-central1-c.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:28.735Z: JOB_MESSAGE_DETAILED: Expanding CoGroupByKey operations into optimizable parts.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:28.768Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Write log 2/Write/WriteImpl/GroupByKey: GroupByKey not followed by a combiner.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:28.803Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Write log 1/Write/WriteImpl/GroupByKey: GroupByKey not followed by a combiner.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:28.847Z: JOB_MESSAGE_DETAILED: Expanding GroupByKey operations into optimizable parts.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:28.878Z: JOB_MESSAGE_DETAILED: Lifting ValueCombiningMappingFns into MergeBucketsMappingFns
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:28.965Z: JOB_MESSAGE_DEBUG: Annotating graph with Autotuner information.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:29.184Z: JOB_MESSAGE_DETAILED: Fusing adjacent ParDo, Read, Write, and Flatten operations
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:29.275Z: JOB_MESSAGE_DETAILED: Fusing consumer Format NULL values into Read from BigQuery
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:29.369Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/WriteBundles/WriteBundles into Read from BigQuery
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:29.416Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/WriteBundles/WriteBundles into Format NULL values
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:29.452Z: JOB_MESSAGE_DETAILED: Fusing consumer Write BQ table/WriteToBigQuery/NativeWrite into Format NULL values
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:29.488Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/Pair into Write log 1/Write/WriteImpl/WriteBundles/WriteBundles
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:29.526Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/WindowInto(WindowIntoFn) into Write log 1/Write/WriteImpl/Pair
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:29.555Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/GroupByKey/Reify into Write log 1/Write/WriteImpl/WindowInto(WindowIntoFn)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:29.590Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/GroupByKey/Write into Write log 1/Write/WriteImpl/GroupByKey/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:29.620Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/GroupByKey/GroupByWindow into Write log 1/Write/WriteImpl/GroupByKey/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:29.654Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/Extract into Write log 1/Write/WriteImpl/GroupByKey/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:29.683Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/Pair into Write log 2/Write/WriteImpl/WriteBundles/WriteBundles
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:29.718Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/WindowInto(WindowIntoFn) into Write log 2/Write/WriteImpl/Pair
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:29.744Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/GroupByKey/Reify into Write log 2/Write/WriteImpl/WindowInto(WindowIntoFn)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:29.776Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/GroupByKey/Write into Write log 2/Write/WriteImpl/GroupByKey/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:29.810Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/GroupByKey/GroupByWindow into Write log 2/Write/WriteImpl/GroupByKey/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:29.845Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/Extract into Write log 2/Write/WriteImpl/GroupByKey/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:29.872Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/InitializeWrite into Write log 1/Write/WriteImpl/DoOnce/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:29.897Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/InitializeWrite into Write log 2/Write/WriteImpl/DoOnce/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:29.931Z: JOB_MESSAGE_DEBUG: Workflow config is missing a default resource spec.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:29.959Z: JOB_MESSAGE_DEBUG: Adding StepResource setup and teardown to workflow graph.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:29.984Z: JOB_MESSAGE_DEBUG: Adding workflow start and stop steps.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:30.014Z: JOB_MESSAGE_DEBUG: Assigning stage ids.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:30.260Z: JOB_MESSAGE_DEBUG: Executing wait step start29
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:30.328Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/DoOnce/Read+Write log 2/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:30.362Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/DoOnce/Read+Write log 1/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:30.378Z: JOB_MESSAGE_DEBUG: Starting worker pool setup.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:30.390Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:30.412Z: JOB_MESSAGE_BASIC: Starting 1 workers in us-central1-c...
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:30.426Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-04-25_15_52_23-16171798327943254882 is in state JOB_STATE_RUNNING
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:30.486Z: JOB_MESSAGE_BASIC: Finished operation Write log 1/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:30.486Z: JOB_MESSAGE_BASIC: Finished operation Write log 2/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:30.556Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/GroupByKey/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:52:30.585Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/GroupByKey/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:53:00.722Z: JOB_MESSAGE_DETAILED: Autoscaling: Raised the number of workers to 1 based on the rate of progress in the currently running stage(s).
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:54:09.576Z: JOB_MESSAGE_DETAILED: Workers have started successfully.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:54:09.602Z: JOB_MESSAGE_DETAILED: Workers have started successfully.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:54:41.496Z: JOB_MESSAGE_BASIC: Finished operation Write log 2/Write/WriteImpl/DoOnce/Read+Write log 2/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:54:41.545Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/DoOnce/Read.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:54:41.570Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/InitializeWrite.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:54:41.620Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:54:41.648Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:54:41.669Z: JOB_MESSAGE_BASIC: Finished operation Write log 2/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:54:41.669Z: JOB_MESSAGE_BASIC: Finished operation Write log 1/Write/WriteImpl/DoOnce/Read+Write log 1/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:54:41.676Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:54:41.695Z: JOB_MESSAGE_BASIC: Finished operation Write log 2/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:54:41.716Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/DoOnce/Read.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:54:41.723Z: JOB_MESSAGE_BASIC: Finished operation Write log 2/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:54:41.736Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/InitializeWrite.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:54:41.764Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:54:41.791Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:54:41.820Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:54:41.848Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:54:41.875Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:54:41.892Z: JOB_MESSAGE_BASIC: Finished operation Write log 1/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:54:41.905Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:54:41.924Z: JOB_MESSAGE_BASIC: Finished operation Write log 1/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:54:41.955Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:54:41.958Z: JOB_MESSAGE_BASIC: Finished operation Write log 1/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:54:41.986Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:54:42.017Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:54:42.051Z: JOB_MESSAGE_BASIC: Executing operation Read from BigQuery+Format NULL values+Write log 1/Write/WriteImpl/WriteBundles/WriteBundles+Write log 2/Write/WriteImpl/WriteBundles/WriteBundles+Write BQ table/WriteToBigQuery/NativeWrite+Write log 1/Write/WriteImpl/Pair+Write log 1/Write/WriteImpl/WindowInto(WindowIntoFn)+Write log 1/Write/WriteImpl/GroupByKey/Reify+Write log 1/Write/WriteImpl/GroupByKey/Write+Write log 2/Write/WriteImpl/Pair+Write log 2/Write/WriteImpl/WindowInto(WindowIntoFn)+Write log 2/Write/WriteImpl/GroupByKey/Reify+Write log 2/Write/WriteImpl/GroupByKey/Write
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:54:42.857Z: JOB_MESSAGE_BASIC: BigQuery query issued as job: "dataflow_job_2159120287780754842". You can check its status with the bq tool: "bq show -j --project_id=sunny-advantage-266802 dataflow_job_2159120287780754842".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:56:15.179Z: JOB_MESSAGE_BASIC: BigQuery query completed, job : "dataflow_job_2159120287780754842"
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:56:15.546Z: JOB_MESSAGE_BASIC: BigQuery export job "dataflow_job_6197695842578934931" started. You can check its status with the bq tool: "bq show -j --project_id=sunny-advantage-266802 dataflow_job_6197695842578934931".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:56:46.035Z: JOB_MESSAGE_DETAILED: BigQuery export job progress: "dataflow_job_6197695842578934931" observed total of 1 exported files thus far.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:56:46.063Z: JOB_MESSAGE_BASIC: BigQuery export job finished: "dataflow_job_6197695842578934931"
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:56:52.195Z: JOB_MESSAGE_BASIC: Executing BigQuery import job "dataflow_job_2159120287780755006". You can check its status with the bq tool: "bq show -j --project_id=sunny-advantage-266802 dataflow_job_2159120287780755006".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:57:02.753Z: JOB_MESSAGE_BASIC: BigQuery import job "dataflow_job_2159120287780755006" done.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:57:03.195Z: JOB_MESSAGE_BASIC: Finished operation Read from BigQuery+Format NULL values+Write log 1/Write/WriteImpl/WriteBundles/WriteBundles+Write log 2/Write/WriteImpl/WriteBundles/WriteBundles+Write BQ table/WriteToBigQuery/NativeWrite+Write log 1/Write/WriteImpl/Pair+Write log 1/Write/WriteImpl/WindowInto(WindowIntoFn)+Write log 1/Write/WriteImpl/GroupByKey/Reify+Write log 1/Write/WriteImpl/GroupByKey/Write+Write log 2/Write/WriteImpl/Pair+Write log 2/Write/WriteImpl/WindowInto(WindowIntoFn)+Write log 2/Write/WriteImpl/GroupByKey/Reify+Write log 2/Write/WriteImpl/GroupByKey/Write
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-25T22:57:03.260Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/GroupByKey/Close

In [1]:
%run MASSACHUSETTS_TOBACCO_USE_beam.py

WARNING:apache_beam.runners.interactive.interactive_environment:Interactive Beam requires Python 3.5.3+.
WARNING:apache_beam.runners.interactive.interactive_environment:Dependencies required for Interactive Beam PCollection visualization are not available, please use: `pip install apache-beam[interactive]` to install necessary dependencies to enable all data visualization features.
/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/io/gcp/bigquery.py:1421: BeamDeprecationWarning: options is deprecated since First stable release. References to <pipeline>.options will not be supported
  experiments = p.options.view_as(DebugOptions).experiments or []

query_results PCollection[Read from BigQuery.None]

INFO:apache_beam.runners.direct.direct_runner:Running pipeline with DirectRunner.
INFO:apache_beam.internal.gcp.auth:Setting socket default timeout to 60 seconds.
INFO:apache_beam.internal.gcp.auth:socket default timeout is 60.0 seconds.
INFO:oauth2client.transport:Attempting refresh to obtain initial access_token
INFO:apache_beam.io.gcp.bigquery_tools:Using location 'US' from table <TableReference
 datasetId: 'MASSACHUSETTS_cdc_modeled'
 projectId: 'sunny-advantage-266802'
 tableId: 'MASSACHUSETTS_TOBACCO_USE'> referenced by query SELECT SEQNO, _STATE, SMOKE100, SMOKDAY2, LASTSMK2, USENOW3 FROM MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_TOBACCO_USE limit 50
WARNING:apache_beam.io.gcp.bigquery_tools:Dataset sunny-advantage-266802:temp_dataset_c2474cc04d76441dbb81977ab92cfd21 does not exist so we will create it as temporary with location=US
INFO:apache_beam.io.gcp.bigquery_tools:Created table sunny-advantage-266802.MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_TOBACCO_USE_Beam with schema <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'SEQNO'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: '_STATE'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'SMOKE100'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'SMOKDAY2'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'LASTSMK2'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'USENOW3'
 type: 'INTEGER'>]>. Result: <Table
 creationTime: 1587915905331
 etag: 'FatSbJRyZJfqGKfeWe6REQ=='
 id: 'sunny-advantage-266802:MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_TOBACCO_USE_Beam'
 kind: 'bigquery#table'
 lastModifiedTime: 1587915905380
 location: 'US'
 numBytes: 0
 numLongTermBytes: 0
 numRows: 0
 schema: <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'SEQNO'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: '_STATE'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'SMOKE100'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'SMOKDAY2'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'LASTSMK2'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'USENOW3'
 type: 'INTEGER'>]>
 selfLink: 'https://www.googleapis.com/bigquery/v2/projects/sunny-advantage-266802/datasets/MASSACHUSETTS_cdc_modeled/tables/MASSACHUSETTS_TOBACCO_USE_Beam'
 tableReference: <TableReference
 datasetId: 'MASSACHUSETTS_cdc_modeled'
 projectId: 'sunny-advantage-266802'
 tableId: 'MASSACHUSETTS_TOBACCO_USE_Beam'>
 type: 'TABLE'>.
WARNING:apache_beam.io.gcp.bigquery_tools:Sleeping for 150 seconds before the write as BigQuery inserts can be routed to deleted table for 2 mins after the delete and create.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.

In [2]:
%run MASSACHUSETTS_TOBACCO_USE_beam_dataflow.py

WARNING:apache_beam.options.pipeline_options:--region not set; will default to us-central1. Future releases of Beam will require the user to set --region explicitly, or else have a default set via the gcloud tool. https://cloud.google.com/compute/docs/regions-zones
/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/runners/dataflow/dataflow_runner.py:740: BeamDeprecationWarning: BigQuerySink is deprecated since 2.11.0. Use WriteToBigQuery instead.
  kms_key=transform.kms_key))
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-tobacco-use.1587916094.577974/pipeline.pb...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-tobacco-use.1587916094.577974/pipeline.pb in 0 seconds.
INFO:apache_beam.runners.portability.stager:Downloading source distribution of the SDK from PyPi
INFO:apache_beam.runners.portability.stager:Executing command: ['/home/jupyter/venv/bin/python', '-m', 'pip', 'download', '--dest', '/tmp/tmppnjme3rf', 'apache-beam==2.19.0', '--no-deps', '--no-binary', ':all:']
INFO:apache_beam.runners.portability.stager:Staging SDK sources from PyPI to gs://beam_cs327e_data_thedataminers/staging/transform-tobacco-use.1587916094.577974/dataflow_python_sdk.tar
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-tobacco-use.1587916094.577974/dataflow_python_sdk.tar...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-tobacco-use.1587916094.577974/dataflow_python_sdk.tar in 0 seconds.
INFO:apache_beam.runners.portability.stager:Downloading binary distribution of the SDK from PyPi
INFO:apache_beam.runners.portability.stager:Executing command: ['/home/jupyter/venv/bin/python', '-m', 'pip', 'download', '--dest', '/tmp/tmppnjme3rf', 'apache-beam==2.19.0', '--no-deps', '--only-binary', ':all:', '--python-version', '35', '--implementation', 'cp', '--abi', 'cp35m', '--platform', 'manylinux1_x86_64']
INFO:apache_beam.runners.portability.stager:Staging binary distribution of the SDK from PyPI to gs://beam_cs327e_data_thedataminers/staging/transform-tobacco-use.1587916094.577974/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-tobacco-use.1587916094.577974/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-tobacco-use.1587916094.577974/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl in 0 seconds.
INFO:apache_beam.runners.dataflow.internal.apiclient:Create job: <Job
 createTime: '2020-04-26T15:48:19.751213Z'
 currentStateTime: '1970-01-01T00:00:00Z'
 id: '2020-04-26_08_48_18-93157299913586459'
 location: 'us-central1'
 name: 'transform-tobacco-use'
 projectId: 'sunny-advantage-266802'
 stageStates: []
 startTime: '2020-04-26T15:48:19.751213Z'
 steps: []
 tempFiles: []
 type: TypeValueValuesEnum(JOB_TYPE_BATCH, 1)>
INFO:apache_beam.runners.dataflow.internal.apiclient:Created job with id: [2020-04-26_08_48_18-93157299913586459]
INFO:apache_beam.runners.dataflow.internal.apiclient:To access the Dataflow monitoring console, please navigate to https://console.cloud.google.com/dataflow/jobsDetail/locations/us-central1/jobs/2020-04-26_08_48_18-93157299913586459?project=sunny-advantage-266802
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-04-26_08_48_18-93157299913586459 is in state JOB_STATE_PENDING
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:18.634Z: JOB_MESSAGE_DETAILED: Autoscaling is enabled for job 2020-04-26_08_48_18-93157299913586459. The number of workers will be between 1 and 1000.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:18.634Z: JOB_MESSAGE_DETAILED: Autoscaling was automatically enabled for job 2020-04-26_08_48_18-93157299913586459.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:21.972Z: JOB_MESSAGE_DETAILED: Checking permissions granted to controller Service Account.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:22.725Z: JOB_MESSAGE_BASIC: Worker configuration: n1-standard-4 in us-central1-c.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:23.248Z: JOB_MESSAGE_DETAILED: Expanding CoGroupByKey operations into optimizable parts.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:23.293Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Write log 2/Write/WriteImpl/GroupByKey: GroupByKey not followed by a combiner.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:23.326Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Write log 1/Write/WriteImpl/GroupByKey: GroupByKey not followed by a combiner.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:23.365Z: JOB_MESSAGE_DETAILED: Expanding GroupByKey operations into optimizable parts.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:23.403Z: JOB_MESSAGE_DETAILED: Lifting ValueCombiningMappingFns into MergeBucketsMappingFns
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:23.511Z: JOB_MESSAGE_DEBUG: Annotating graph with Autotuner information.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:23.711Z: JOB_MESSAGE_DETAILED: Fusing adjacent ParDo, Read, Write, and Flatten operations
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:23.752Z: JOB_MESSAGE_DETAILED: Fusing consumer Format NULL values into Read from BigQuery
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:23.786Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/WriteBundles/WriteBundles into Read from BigQuery
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:23.826Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/WriteBundles/WriteBundles into Format NULL values
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:23.856Z: JOB_MESSAGE_DETAILED: Fusing consumer Write BQ table/WriteToBigQuery/NativeWrite into Format NULL values
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:23.893Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/Pair into Write log 1/Write/WriteImpl/WriteBundles/WriteBundles
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:23.928Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/WindowInto(WindowIntoFn) into Write log 1/Write/WriteImpl/Pair
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:23.967Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/GroupByKey/Reify into Write log 1/Write/WriteImpl/WindowInto(WindowIntoFn)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:24.003Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/GroupByKey/Write into Write log 1/Write/WriteImpl/GroupByKey/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:24.038Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/GroupByKey/GroupByWindow into Write log 1/Write/WriteImpl/GroupByKey/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:24.060Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/Extract into Write log 1/Write/WriteImpl/GroupByKey/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:24.092Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/Pair into Write log 2/Write/WriteImpl/WriteBundles/WriteBundles
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:24.128Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/WindowInto(WindowIntoFn) into Write log 2/Write/WriteImpl/Pair
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:24.164Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/GroupByKey/Reify into Write log 2/Write/WriteImpl/WindowInto(WindowIntoFn)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:24.201Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/GroupByKey/Write into Write log 2/Write/WriteImpl/GroupByKey/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:24.230Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/GroupByKey/GroupByWindow into Write log 2/Write/WriteImpl/GroupByKey/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:24.267Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/Extract into Write log 2/Write/WriteImpl/GroupByKey/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:24.306Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/InitializeWrite into Write log 1/Write/WriteImpl/DoOnce/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:24.343Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/InitializeWrite into Write log 2/Write/WriteImpl/DoOnce/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:24.383Z: JOB_MESSAGE_DEBUG: Workflow config is missing a default resource spec.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:24.419Z: JOB_MESSAGE_DEBUG: Adding StepResource setup and teardown to workflow graph.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:24.456Z: JOB_MESSAGE_DEBUG: Adding workflow start and stop steps.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:24.490Z: JOB_MESSAGE_DEBUG: Assigning stage ids.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:24.741Z: JOB_MESSAGE_DEBUG: Executing wait step start29
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:24.816Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/DoOnce/Read+Write log 2/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:24.853Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/DoOnce/Read+Write log 1/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:24.854Z: JOB_MESSAGE_DEBUG: Starting worker pool setup.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:24.879Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:24.890Z: JOB_MESSAGE_BASIC: Starting 1 workers in us-central1-c...
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:24.914Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-04-26_08_48_18-93157299913586459 is in state JOB_STATE_RUNNING
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:24.936Z: JOB_MESSAGE_BASIC: Finished operation Write log 2/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:24.960Z: JOB_MESSAGE_BASIC: Finished operation Write log 1/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:25.009Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/GroupByKey/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:25.046Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/GroupByKey/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:48:56.357Z: JOB_MESSAGE_DETAILED: Autoscaling: Raised the number of workers to 1 based on the rate of progress in the currently running stage(s).
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:50:17.792Z: JOB_MESSAGE_DETAILED: Workers have started successfully.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:50:17.829Z: JOB_MESSAGE_DETAILED: Workers have started successfully.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:50:45.671Z: JOB_MESSAGE_BASIC: Finished operation Write log 2/Write/WriteImpl/DoOnce/Read+Write log 2/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:50:45.738Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/DoOnce/Read.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:50:45.764Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/InitializeWrite.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:50:45.824Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:50:45.853Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:50:45.881Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:50:45.899Z: JOB_MESSAGE_BASIC: Finished operation Write log 2/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:50:45.909Z: JOB_MESSAGE_BASIC: Finished operation Write log 2/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:50:45.933Z: JOB_MESSAGE_BASIC: Finished operation Write log 2/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:50:45.950Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:50:45.974Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:50:45.995Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:50:46.040Z: JOB_MESSAGE_BASIC: Finished operation Write log 1/Write/WriteImpl/DoOnce/Read+Write log 1/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:50:46.105Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/DoOnce/Read.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:50:46.131Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/InitializeWrite.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:50:46.190Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:50:46.216Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:50:46.243Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:50:46.243Z: JOB_MESSAGE_BASIC: Finished operation Write log 1/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:50:46.280Z: JOB_MESSAGE_BASIC: Finished operation Write log 1/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:50:46.292Z: JOB_MESSAGE_BASIC: Finished operation Write log 1/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:50:46.301Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:50:46.341Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:50:46.362Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:50:46.409Z: JOB_MESSAGE_BASIC: Executing operation Read from BigQuery+Format NULL values+Write log 1/Write/WriteImpl/WriteBundles/WriteBundles+Write log 2/Write/WriteImpl/WriteBundles/WriteBundles+Write BQ table/WriteToBigQuery/NativeWrite+Write log 1/Write/WriteImpl/Pair+Write log 1/Write/WriteImpl/WindowInto(WindowIntoFn)+Write log 1/Write/WriteImpl/GroupByKey/Reify+Write log 1/Write/WriteImpl/GroupByKey/Write+Write log 2/Write/WriteImpl/Pair+Write log 2/Write/WriteImpl/WindowInto(WindowIntoFn)+Write log 2/Write/WriteImpl/GroupByKey/Reify+Write log 2/Write/WriteImpl/GroupByKey/Write
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:50:47.446Z: JOB_MESSAGE_BASIC: BigQuery query issued as job: "dataflow_job_6134813529382462054". You can check its status with the bq tool: "bq show -j --project_id=sunny-advantage-266802 dataflow_job_6134813529382462054".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:51:55.067Z: JOB_MESSAGE_BASIC: BigQuery query completed, job : "dataflow_job_6134813529382462054"
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:51:55.678Z: JOB_MESSAGE_BASIC: BigQuery export job "dataflow_job_12674859659211455116" started. You can check its status with the bq tool: "bq show -j --project_id=sunny-advantage-266802 dataflow_job_12674859659211455116".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:52:26.036Z: JOB_MESSAGE_DETAILED: BigQuery export job progress: "dataflow_job_12674859659211455116" observed total of 1 exported files thus far.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:52:26.058Z: JOB_MESSAGE_BASIC: BigQuery export job finished: "dataflow_job_12674859659211455116"
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:52:32.319Z: JOB_MESSAGE_BASIC: Executing BigQuery import job "dataflow_job_6134813529382463778". You can check its status with the bq tool: "bq show -j --project_id=sunny-advantage-266802 dataflow_job_6134813529382463778".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:52:42.878Z: JOB_MESSAGE_BASIC: BigQuery import job "dataflow_job_6134813529382463778" done.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:52:43.362Z: JOB_MESSAGE_BASIC: Finished operation Read from BigQuery+Format NULL values+Write log 1/Write/WriteImpl/WriteBundles/WriteBundles+Write log 2/Write/WriteImpl/WriteBundles/WriteBundles+Write BQ table/WriteToBigQuery/NativeWrite+Write log 1/Write/WriteImpl/Pair+Write log 1/Write/WriteImpl/WindowInto(WindowIntoFn)+Write log 1/Write/WriteImpl/GroupByKey/Reify+Write log 1/Write/WriteImpl/GroupByKey/Write+Write log 2/Write/WriteImpl/Pair+Write log 2/Write/WriteImpl/WindowInto(WindowIntoFn)+Write log 2/Write/WriteImpl/GroupByKey/Reify+Write log 2/Write/WriteImpl/GroupByKey/Write
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:52:43.412Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/GroupByKey/Close
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-04-26T15:52:43.434Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/GroupByKey/Close

In [ ]:
### PK verification

In [3]:
%%bigquery
select count(SEQNO) from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_DEMOGRAPHIC_Beam_DF

     f0_
0  59122

In [4]:
%%bigquery
select count(distinct SEQNO) from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_DEMOGRAPHIC_Beam_DF

     f0_
0  59122

In [7]:
%%bigquery
select count(SEQNO) from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_OVERALL_Health_Status_Beam_DF

     f0_
0  59122

In [6]:
%%bigquery
select count(distinct SEQNO) from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_OVERALL_Health_Status_Beam_DF

     f0_
0  59122

In [8]:
%%bigquery
select count(SEQNO) from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_TOBACCO_USE_Beam_DF

     f0_
0  59122

In [9]:
%%bigquery
select count(distinct SEQNO) from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_TOBACCO_USE_Beam_DF

     f0_
0  59122

In [ ]:
## All tables have the same value for number of SEQNOs and number of distinct SEQNOs

In [ ]:
### Checking for FK violation

In [14]:
%%bigquery
select count(e.SEQNO) from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_DEMOGRAPHIC_Beam_DF e join MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_OVERALL_Health_Status_Beam_DF f
on e.SEQNO = f.SEQNO

     f0_
0  59122

In [15]:
%%bigquery
select count(e.SEQNO) from MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_DEMOGRAPHIC_Beam_DF e join MASSACHUSETTS_cdc_modeled.MASSACHUSETTS_TOBACCO_USE_Beam_DF f
on e.SEQNO = f.SEQNO

     f0_
0  59122

In [ ]:
### There are no PK or FK violations