In [ ]:
### The 2 queries below are to check if our table has a primary key.. 
### The two columns that could be primary keys are SEQNO (Sequence Number) and _PSU (Annual Sequence Number).

In [ ]:
### Checking to see if SEQNO is a primary key.

In [1]:
%%bigquery
select count(SEQNO) from cdc_staging.2011

      f0_
0  506467

In [2]:
%%bigquery
select count(distinct SEQNO) from cdc_staging.2011

     f0_
0  25416

In [ ]:
### Unfortunately, as count(SEQNO) does not equal count(distinct SEQNO), SEQNO is not a primary key.

In [ ]:
### Checking to see if _PSU is a primary key.

In [3]:
%%bigquery
select count(_PSU) from cdc_staging.2011

      f0_
0  506467

In [4]:
%%bigquery
select count(distinct _PSU) from cdc_staging.2011

     f0_
0  25416

In [ ]:
### Unfortunately, as count(_PSU) does not equal count(distinct _PSU), _PSU is also not a primary key.
### Currently, our dataset does not have a Primary Key. 
### This is because each person with a specific sequence number took the survey multiple times. 
### The number of times each person has taken the survey is shown by the column NATTMPTS.
### Therefore, the data needs to be cleaned in order to remove duplicates. 
### After cleaning the data, SEQNO will be our primary key.

In [ ]:
### Below we can see multiple forign key violations

In [17]:
%%bigquery
select count(x.SEQNO)
from cdc_staging.2011 as x left join cdc_staging.2015 as y
on x.ASTHNOW = y.ASTHNOW
where x.ASTHNOW is null

      f0_
0  441370

In [19]:
%%bigquery
select count(x.SEQNO)
from cdc_staging.2012 as x left join cdc_staging.2013 as y
on x.PREGNANT = y.PREGNANT
where x.PREGNANT is null

      f0_
0  398745

In [24]:
%%bigquery
select count(x.SEQNO)
from cdc_staging.2011 as x left join cdc_staging.2014 as y
on x.LASTSMK2 = y.LASTSMK2
where x.LASTSMK2 is null

      f0_
0  358605

In [ ]:
### As we can see multiple records, this is a foreign key violation
### Additionally, because the dataset involves data from different years, a forign key relationship cannot be drawn yet.