In [13]:
dataset_id = "cdc_modeled"
!bq --location=US mk --dataset cdc_modeled

BigQuery error in mk operation: Dataset 'sunny-advantage-266802:cdc_modeled'
already exists.

In [ ]:
## ------------------------------------------------------------------------------------------ ##

In [ ]:
### QUERY 1
### This query is trying to find a relationship between general health and smoking
### The query does a group by GENHLTH and averages the value for SMOKDAY2
### GENHLTH asks "Would you say that in general your health is:"
### SMOKDAY2 asks "Do you now smoke cigarettes every day, some days, or not at all?"
### Rubric: 1 aggregate function, JOIN, GROUP BY, ORDER BY

In [31]:
%%bigquery
select GENHLTH, avg(SMOKDAY2) as AVERAGE_SMOKDAY2
from cdc_modeled.OVERALL_Health_Status_Beam_DF e join cdc_modeled.TOBACCO_USE_Beam_DF l
on e.SEQNO = l.SEQNO
where GENHLTH <>7 and GENHLTH <>9
group by GENHLTH 
order by GENHLTH

   GENHLTH  AVERAGE_SMOKDAY2
0        1          0.840105
1        2          0.919342
2        3          0.958395
3        4          1.110300
4        5          1.264718

In [ ]:
### QUERY 2
### This query is trying to find a relationship between physical health and smoking
### The query does a group by PHYSHLTH and averages the value for SMOKDAY2
### PHYSHLTH asks "Now thinking about your physical health, which includes physical illness and injury, for how many days during the past
### 30 days was your physical health not good?"
### SMOKDAY2 asks "Do you now smoke cigarettes every day, some days, or not at all?"
### Rubric: 1 aggregate function, JOIN, GROUP BY, ORDER BY

In [57]:
%%bigquery
select PHYSHLTH, avg(SMOKDAY2) as AVERAGE_SMOKDAY2
from cdc_modeled.OVERALL_Health_Status_Beam_DF e join cdc_modeled.TOBACCO_USE_Beam_DF l
on e.SEQNO = l.SEQNO
where PHYSHLTH <>77 and PHYSHLTH <>99 and PHYSHLTH <>88
group by PHYSHLTH
order by PHYSHLTH
limit 12

    PHYSHLTH  AVERAGE_SMOKDAY2
0          1          0.867332
1          2          0.950321
2          3          0.907970
3          4          0.968966
4          5          0.993301
5          6          0.933673
6          7          0.992187
7          8          0.840000
8          9          1.076923
9         10          1.126627
10        11          1.727273
11        12          1.226667

In [ ]:
### QUERY 3
### This query is trying to find a relationship between mental health and smoking
### The query does a group by MENTHLTH and averages the value for SMOKDAY2
### MENTHLTH asks "Now thinking about your mental health, which includes stress, depression, and problems with emotions, for how many
### days during the past 30 days was your mental health not good?""
### SMOKDAY2 asks "Do you now smoke cigarettes every day, some days, or not at all?"
### Rubric: 1 aggregate function, JOIN, GROUP BY, ORDER BY

In [58]:
%%bigquery
select MENTHLTH, avg(SMOKDAY2) as AVERAGE_SMOKDAY2
from cdc_modeled.OVERALL_Health_Status_Beam_DF e join cdc_modeled.TOBACCO_USE_Beam_DF l
on e.SEQNO = l.SEQNO
where MENTHLTH <>77 and MENTHLTH <>99 and MENTHLTH <>88
group by MENTHLTH
order by MENTHLTH
limit 12

    MENTHLTH  AVERAGE_SMOKDAY2
0          1          0.892473
1          2          0.930801
2          3          0.907677
3          4          1.025532
4          5          0.878428
5          6          1.008929
6          7          0.933198
7          8          1.023077
8          9          0.750000
9         10          0.985450
10        11          1.625000
11        12          1.044118

In [ ]:
#QUERY 4
### This query tries to identify a connection between average number of days smoked and educational level
### The query groups by educational level and calculates the average number of days smoked in the past 30 days. 
### SMOKDAY2 asks "Do you now smoke cigarettes every day, some days, or not at all?"
### EDUCA asks "What is the highest grade or year of school you completed?"
### Rubric: 1 aggregate function, JOIN, GROUP BY, HAVING, ORDER BY

In [59]:
%%bigquery
select EDUCA, AVG(SMOKDAY2) as AVERAGE_SMOKDAY2
from cdc_modeled.DEMOGRAPHIC_Beam_DF e join cdc_modeled.TOBACCO_USE_Beam_DF l
on e.SEQNO = l.SEQNO
group by EDUCA
having EDUCA <> 9
order by EDUCA

   EDUCA  AVERAGE_SMOKDAY2
0      0          0.000000
1      1          0.794872
2      2          0.806618
3      3          0.991085
4      4          1.019744
5      5          1.090215
6      6          0.884424

In [ ]:
### QUERY 5
### This query calculates the standard deviation of number of days smoked for each educational level. This lets us know the general variation around the mean for each educational level. 
### The query groups by educational level and then calculates the standard deviation of days smoked in the past 30 days. 
## SMOKDAY2 asks "Do you now smoke cigarettes every day, some days, or not at all?"
### EDUCA asks "What is the highest grade or year of school you completed?"
### Rubric: aggregate function, JOIN, GROUP BY, HAVING, ORDER BY

In [60]:
%%bigquery
select EDUCA, STDDEV(SMOKDAY2) as STANDARD_DEVIATION_SMOKDAY2
from cdc_modeled.DEMOGRAPHIC_Beam_DF e join cdc_modeled.TOBACCO_USE_Beam_DF l
on e.SEQNO = l.SEQNO
group by EDUCA
having EDUCA <> 9 and EDUCA <> 0
order by STANDARD_DEVIATION_SMOKDAY2

   EDUCA  STANDARD_DEVIATION_SMOKDAY2
0      3                     1.255206
1      2                     1.259355
2      1                     1.273643
3      4                     1.299388
4      6                     1.317229
5      5                     1.343259

In [ ]:
#QUERY 6
### This query tries to identify a connection between average number of days smoked and number of children the respondant has
### The query groups by number of childrenn and calculates the average number of days smoked in the past 30 days. 
### SMOKDAY2 asks "Do you now smoke cigarettes every day, some days, or not at all?"
### CHILDREN asks "How many children less than 18 years of age live in your household?"

In [61]:
%%bigquery
select CHILDREN, avg(SMOKDAY2) as AVERAGE_SMOKDAY2
from cdc_modeled.DEMOGRAPHIC_Beam_DF e join cdc_modeled.TOBACCO_USE_Beam_DF l
on e.SEQNO = l.SEQNO
where CHILDREN <> 99 and CHILDREN <> 88
group by CHILDREN
order by AVERAGE_SMOKDAY2

    CHILDREN  AVERAGE_SMOKDAY2
0          9          0.000000
1          0          0.428571
2          6          0.629032
3          4          0.658385
4          7          0.666667
5          2          0.728722
6          5          0.740260
7          3          0.742515
8          1          0.791384
9          8          1.142857
10        10          2.500000

In [ ]:
### CREATING VIEWS

In [ ]:
### The first view is to plot smoking against general health.

In [66]:
%%bigquery
create or replace view cdc_modeled.v_Relationship_between_SMOKING_and_GENERAL_HEALTH as
select GENHLTH, avg(SMOKDAY2) as AVERAGE_SMOKDAY2
from `sunny-advantage-266802.cdc_modeled.OVERALL_Health_Status_Beam_DF` e join `sunny-advantage-266802.cdc_modeled.TOBACCO_USE_Beam_DF` l
on e.SEQNO = l.SEQNO
where GENHLTH <>7 and GENHLTH <>9
group by GENHLTH 
order by GENHLTH

Empty DataFrame
Columns: []
Index: []

In [ ]:
### We made this view just for fun. This view is not included in the report.
### The next view is to plot smoking against physical health.

In [67]:
%%bigquery
create or replace view cdc_modeled.v_Relationship_between_SMOKING_and_PHYSICAL_HEALTH as
select PHYSHLTH, avg(SMOKDAY2) as AVERAGE_SMOKDAY2
from `sunny-advantage-266802.cdc_modeled.OVERALL_Health_Status_Beam_DF` e join `sunny-advantage-266802.cdc_modeled.TOBACCO_USE_Beam_DF` l
on e.SEQNO = l.SEQNO
where PHYSHLTH <>77 and PHYSHLTH <>99 and PHYSHLTH <>88
group by PHYSHLTH
order by PHYSHLTH

Empty DataFrame
Columns: []
Index: []

In [ ]:
### We made this view just for fun. This view is not included in the report.
### The next view is to plot smoking against mental health health.

In [69]:
%%bigquery
create or replace view cdc_modeled.v_Relationship_between_SMOKING_and_MENTAL_HEALTH as
select MENTHLTH, avg(SMOKDAY2) as AVERAGE_SMOKDAY2
from `sunny-advantage-266802.cdc_modeled.OVERALL_Health_Status_Beam_DF` e join `sunny-advantage-266802.cdc_modeled.TOBACCO_USE_Beam_DF` l
on e.SEQNO = l.SEQNO
where MENTHLTH <>77 and MENTHLTH <>99 and MENTHLTH <>88
group by MENTHLTH
order by MENTHLTH

Empty DataFrame
Columns: []
Index: []

In [ ]:
### The second view is to plot smoking against education.

In [70]:
%%bigquery
create or replace view cdc_modeled.v_Relationship_between_SMOKING_and_EDUCATION as
select EDUCA, AVG(SMOKDAY2) as AVERAGE_SMOKDAY2
from `sunny-advantage-266802.cdc_modeled.DEMOGRAPHIC_Beam_DF` e join `sunny-advantage-266802.cdc_modeled.TOBACCO_USE_Beam_DF` l
on e.SEQNO = l.SEQNO
group by EDUCA
having EDUCA <> 9
order by EDUCA

Empty DataFrame
Columns: []
Index: []

### Milestone 8

In [ ]:
### QUERY 1
### This query finds the average rate of smoking in men

In [7]:
%%bigquery
create or replace view cdc_modeled.v_Average_smoking_in_men as
select AVG(SMOKDAY2) as AVERAGE_SMOKDAY2_MEN from `sunny-advantage-266802.cdc_modeled.TOBACCO_USE_Beam_DF` a 
where a.SEQNO in
(select b.SEQNO from `sunny-advantage-266802.cdc_modeled.DEMOGRAPHIC_Beam_DF` b where b.SEX = 1)

Empty DataFrame
Columns: []
Index: []

In [ ]:
### QUERY 2
### This query finds the average rate of smoking in women

In [8]:
%%bigquery
create or replace view cdc_modeled.v_Average_smoking_in_women as
select AVG(SMOKDAY2) as AVERAGE_SMOKDAY2_MEN from `sunny-advantage-266802.cdc_modeled.TOBACCO_USE_Beam_DF` a 
where a.SEQNO in
(select b.SEQNO from `sunny-advantage-266802.cdc_modeled.DEMOGRAPHIC_Beam_DF` b where b.SEX = 2)

Empty DataFrame
Columns: []
Index: []

In [ ]:
### QUERY 3
### This query looks at the relationship between income and health plan in married individuals

In [29]:
%%bigquery
create or replace view cdc_modeled.v_Relationship_between_INCOME2_and_GENHLTH as
select INCOME2, GENHLTH from `sunny-advantage-266802.cdc_modeled.DEMOGRAPHIC_Beam_DF` e join `sunny-advantage-266802.cdc_modeled.OVERALL_Health_Status_Beam_DF` l
on e.SEQNO = l.SEQNO 
where e.SEQNO in (select b.SEQNO from `sunny-advantage-266802.cdc_modeled.DEMOGRAPHIC_Beam_DF` b where b.MARITAL = 1) 
and INCOME2 <> 77 and INCOME2 <> 99
and GENHLTH <>7 and GENHLTH <>9
order by INCOME2

Empty DataFrame
Columns: []
Index: []

In [ ]:
### QUERY 4
### This query looks at the relationship between income and mental health in divorced individuals

In [30]:
%%bigquery
create or replace view cdc_modeled.v_Relationship_between_INCOME2_and_MENTHLTH as
select INCOME2, MENTHLTH from `sunny-advantage-266802.cdc_modeled.DEMOGRAPHIC_Beam_DF` e join `sunny-advantage-266802.cdc_modeled.OVERALL_Health_Status_Beam_DF` l
on e.SEQNO = l.SEQNO 
where e.SEQNO in (select b.SEQNO from `sunny-advantage-266802.cdc_modeled.DEMOGRAPHIC_Beam_DF` b where b.MARITAL = 2) 
and INCOME2 <> 77 and INCOME2 <> 99
and MENTHLTH <>77 and MENTHLTH <>88 and MENTHLTH <>99
order by GENHLTH

Empty DataFrame
Columns: []
Index: []