In [7]:
dataset_id = "TEXAS_cdc_modeled"
!bq --location=US mk --dataset cdc_modeled

BigQuery error in mk operation: Dataset 'sunny-advantage-266802:cdc_modeled'
already exists.

In [ ]:
### 2011 ###

In [10]:
%%bigquery
CREATE TABLE TEXAS_cdc_modeled.TEXAS_Each_survey_member_2011
  AS (SELECT SEQNO
      FROM TEXAS_cdc_staging.2011
     where _STATE = 48);

Empty DataFrame
Columns: []
Index: []

In [12]:
%%bigquery
select count(SEQNO) from TEXAS_cdc_modeled.TEXAS_Each_survey_member_2011

     f0_
0  14973

In [13]:
%%bigquery
select count(distinct SEQNO) from TEXAS_cdc_modeled.TEXAS_Each_survey_member_2011

     f0_
0  14973

In [ ]:
### This confirms that the SEQNO is the PK ###

In [14]:
%%bigquery
CREATE TABLE TEXAS_cdc_modeled.TEXAS_DEMOGRAPHIC_2011 AS
SELECT * FROM(
SELECT distinct SEQNO, _STATE, SEX, MARITAL, EDUCA, EMPLOY, CHILDREN, INCOME2, WEIGHT2, HEIGHT3 from TEXAS_cdc_staging.2011
WHERE _STATE = 48
)

Empty DataFrame
Columns: []
Index: []

In [15]:
%%bigquery
CREATE TABLE TEXAS_cdc_modeled.TEXAS_OVERALL_Health_Status_2011 AS
SELECT * FROM(
SELECT SEQNO, _STATE, GENHLTH, PHYSHLTH, MENTHLTH from TEXAS_cdc_staging.2011 
WHERE _STATE=48
)

Empty DataFrame
Columns: []
Index: []

In [16]:
%%bigquery
SELECT * from TEXAS_cdc_modeled.TEXAS_OVERALL_Health_Status_2011 limit 12

           SEQNO  _STATE  GENHLTH  PHYSHLTH  MENTHLTH
0   2.011011e+09    48.0      2.0       2.0      88.0
1   2.011010e+09    48.0      2.0       2.0       5.0
2   2.011010e+09    48.0      2.0       2.0       2.0
3   2.011002e+09    48.0      2.0       2.0      88.0
4   2.011004e+09    48.0      2.0       2.0      88.0
5   2.011003e+09    48.0      2.0       2.0      88.0
6   2.011006e+09    48.0      2.0       2.0      88.0
7   2.011010e+09    48.0      2.0       2.0      88.0
8   2.011008e+09    48.0      2.0       2.0      88.0
9   2.011003e+09    48.0      2.0       2.0      88.0
10  2.011013e+09    48.0      2.0       2.0      88.0
11  2.011012e+09    48.0      2.0       2.0       2.0

In [17]:
%%bigquery
select count(SEQNO) from TEXAS_cdc_modeled.TEXAS_OVERALL_Health_Status_2011

     f0_
0  14973

In [18]:
%%bigquery
CREATE TABLE TEXAS_cdc_modeled.TEXAS_HEALTH_CARE_2011 AS
SELECT * FROM(
SELECT SEQNO, _STATE, HLTHPLN1, PERSDOC2, MEDCOST, CHECKUP1 from TEXAS_cdc_staging.2011
WHERE _STATE=48
)

Empty DataFrame
Columns: []
Index: []

In [19]:
%%bigquery
select count(SEQNO) from TEXAS_cdc_modeled.TEXAS_HEALTH_CARE_2011

     f0_
0  14973

In [20]:
%%bigquery
CREATE TABLE TEXAS_cdc_modeled.TEXAS_TOBACCO_USE_2011 AS
SELECT * FROM(
SELECT SEQNO, _STATE, SMOKE100, SMOKDAY2, LASTSMK2, USENOW3 from TEXAS_cdc_staging.2011
WHERE _STATE=48
)

Empty DataFrame
Columns: []
Index: []

In [21]:
%%bigquery
select count(SEQNO) from TEXAS_cdc_modeled.TEXAS_TOBACCO_USE_2011

     f0_
0  14973

In [ ]:
### 2012 ###

In [22]:
%%bigquery
CREATE TABLE TEXAS_cdc_modeled.TEXAS_Each_survey_member_2012
  AS (SELECT SEQNO
      FROM TEXAS_cdc_staging.2012
     where _STATE = 48);

Empty DataFrame
Columns: []
Index: []

In [23]:
%%bigquery
select count(SEQNO) from TEXAS_cdc_modeled.TEXAS_Each_survey_member_2012

    f0_
0  9129

In [24]:
%%bigquery
select count(distinct SEQNO) from TEXAS_cdc_modeled.TEXAS_Each_survey_member_2012

    f0_
0  9129

In [25]:
%%bigquery
CREATE TABLE TEXAS_cdc_modeled.TEXAS_DEMOGRAPHIC_2012 AS
SELECT * FROM(
SELECT distinct SEQNO, _STATE, SEX, MARITAL, EDUCA, EMPLOY, CHILDREN, INCOME2, WEIGHT2, HEIGHT3 from TEXAS_cdc_staging.2012
WHERE _STATE = 48
)

Empty DataFrame
Columns: []
Index: []

In [26]:
%%bigquery
CREATE TABLE TEXAS_cdc_modeled.TEXAS_OVERALL_Health_Status_2012 AS
SELECT * FROM(
SELECT SEQNO, _STATE, GENHLTH, PHYSHLTH, MENTHLTH from TEXAS_cdc_staging.2012
WHERE _STATE=48
)

Empty DataFrame
Columns: []
Index: []

In [27]:
%%bigquery
SELECT * from TEXAS_cdc_modeled.TEXAS_OVERALL_Health_Status_2012 limit 12

           SEQNO  _STATE  GENHLTH  PHYSHLTH  MENTHLTH
0   2.012005e+09    48.0      7.0       2.0       1.0
1   2.012004e+09    48.0      2.0       2.0      88.0
2   2.012002e+09    48.0      2.0       2.0       2.0
3   2.012003e+09    48.0      2.0       2.0       1.0
4   2.012004e+09    48.0      2.0       2.0      88.0
5   2.012001e+09    48.0      2.0       2.0       4.0
6   2.012000e+09    48.0      2.0       2.0      88.0
7   2.012008e+09    48.0      2.0       2.0      88.0
8   2.012007e+09    48.0      2.0       2.0      88.0
9   2.012004e+09    48.0      2.0       2.0      10.0
10  2.012007e+09    48.0      2.0       2.0      88.0
11  2.012007e+09    48.0      2.0       2.0       3.0

In [28]:
%%bigquery
select count(SEQNO) from TEXAS_cdc_modeled.TEXAS_OVERALL_Health_Status_2012

    f0_
0  9129

In [29]:
%%bigquery
CREATE TABLE TEXAS_cdc_modeled.TEXAS_HEALTH_CARE_2012 AS
SELECT * FROM(
SELECT SEQNO, _STATE, HLTHPLN1, PERSDOC2, MEDCOST, CHECKUP1 from TEXAS_cdc_staging.2012
WHERE _STATE=48
)

Empty DataFrame
Columns: []
Index: []

In [30]:
%%bigquery
select count(SEQNO) from TEXAS_cdc_modeled.TEXAS_HEALTH_CARE_2012

    f0_
0  9129

In [31]:
%%bigquery
CREATE TABLE TEXAS_cdc_modeled.TEXAS_TOBACCO_USE_2012 AS
SELECT * FROM(
SELECT SEQNO, _STATE, SMOKE100, SMOKDAY2, LASTSMK2, USENOW3 from TEXAS_cdc_staging.2012
WHERE _STATE=48
)

Empty DataFrame
Columns: []
Index: []

In [ ]:
### 2013 ###

In [32]:
%%bigquery
CREATE TABLE TEXAS_cdc_modeled.TEXAS_Each_survey_member_2013
  AS (SELECT SEQNO
      FROM TEXAS_cdc_staging.2013
     where _STATE = 48);

Empty DataFrame
Columns: []
Index: []

In [33]:
%%bigquery
select count(SEQNO) from TEXAS_cdc_modeled.TEXAS_Each_survey_member_2013

     f0_
0  10917

In [34]:
%%bigquery
select count(distinct SEQNO) from TEXAS_cdc_modeled.TEXAS_Each_survey_member_2013

     f0_
0  10917

In [35]:
%%bigquery
CREATE TABLE TEXAS_cdc_modeled.TEXAS_DEMOGRAPHIC_2013 AS
SELECT * FROM(
SELECT distinct SEQNO, _STATE, SEX, MARITAL, EDUCA, EMPLOY1, CHILDREN, INCOME2, WEIGHT2, HEIGHT3 from TEXAS_cdc_staging.2013
WHERE _STATE = 48
)

Empty DataFrame
Columns: []
Index: []

In [36]:
%%bigquery
CREATE TABLE TEXAS_cdc_modeled.TEXAS_OVERALL_Health_Status_2013 AS
SELECT * FROM(
SELECT SEQNO, _STATE, GENHLTH, PHYSHLTH, MENTHLTH from TEXAS_cdc_staging.2013
WHERE _STATE=48
)

Empty DataFrame
Columns: []
Index: []

In [37]:
%%bigquery
CREATE TABLE TEXAS_cdc_modeled.TEXAS_HEALTH_CARE_2013 AS
SELECT * FROM(
SELECT SEQNO, _STATE, HLTHPLN1, PERSDOC2, MEDCOST, CHECKUP1 from TEXAS_cdc_staging.2013
WHERE _STATE=48
)

Empty DataFrame
Columns: []
Index: []

In [38]:
%%bigquery
CREATE TABLE TEXAS_cdc_modeled.TEXAS_TOBACCO_USE_2013 AS
SELECT * FROM(
SELECT SEQNO, _STATE, SMOKE100, SMOKDAY2, LASTSMK2, USENOW3 from TEXAS_cdc_staging.2013
WHERE _STATE=48
)

Empty DataFrame
Columns: []
Index: []

In [ ]:
### Tables have been created for 2011, 2012 and 2013 for Each_survey_member, OVERALL_Health_Status, HEALTH_CARE, TOBACCO_USE and ALCOHOL_CONSUMPTION

In [ ]:
### Unionizing the yearly data

In [39]:
%%bigquery
CREATE TABLE TEXAS_cdc_modeled.TEXAS_Each_survey_member_float AS
SELECT * FROM(
SELECT SEQNO
FROM TEXAS_cdc_modeled.TEXAS_Each_survey_member_2011
UNION ALL
SELECT SEQNO
FROM TEXAS_cdc_modeled.TEXAS_Each_survey_member_2012
UNION ALL
SELECT SEQNO
FROM TEXAS_cdc_modeled.TEXAS_Each_survey_member_2013)

Empty DataFrame
Columns: []
Index: []

In [40]:
%%bigquery
CREATE TABLE TEXAS_cdc_modeled.TEXAS_DEMOGRAPHIC_float AS
SELECT * FROM(
SELECT SEQNO, _STATE, SEX, MARITAL, EDUCA, EMPLOY, CHILDREN, INCOME2, WEIGHT2, HEIGHT3
FROM TEXAS_cdc_modeled.TEXAS_DEMOGRAPHIC_2011
UNION ALL
SELECT SEQNO, _STATE, SEX, MARITAL, EDUCA, EMPLOY, CHILDREN, INCOME2, WEIGHT2, HEIGHT3
FROM TEXAS_cdc_modeled.TEXAS_DEMOGRAPHIC_2012
UNION ALL
SELECT SEQNO, _STATE, SEX, MARITAL, EDUCA, EMPLOY1, CHILDREN, INCOME2, WEIGHT2, HEIGHT3
FROM TEXAS_cdc_modeled.TEXAS_DEMOGRAPHIC_2013)

Empty DataFrame
Columns: []
Index: []

In [41]:
%%bigquery
CREATE TABLE TEXAS_cdc_modeled.TEXAS_OVERALL_Health_Status_float AS
SELECT * FROM(
SELECT SEQNO, _STATE, GENHLTH, PHYSHLTH, MENTHLTH
FROM TEXAS_cdc_modeled.TEXAS_OVERALL_Health_Status_2011
UNION ALL
SELECT SEQNO, _STATE, GENHLTH, PHYSHLTH, MENTHLTH
FROM TEXAS_cdc_modeled.TEXAS_OVERALL_Health_Status_2012
UNION ALL
SELECT SEQNO, _STATE, GENHLTH, PHYSHLTH, MENTHLTH
FROM TEXAS_cdc_modeled.TEXAS_OVERALL_Health_Status_2013)

Empty DataFrame
Columns: []
Index: []

In [42]:
%%bigquery
CREATE TABLE TEXAS_cdc_modeled.TEXAS_HEALTH_CARE_float AS
SELECT * FROM(
SELECT SEQNO, _STATE, HLTHPLN1, PERSDOC2, MEDCOST, CHECKUP1
FROM TEXAS_cdc_modeled.TEXAS_HEALTH_CARE_2011
UNION ALL
SELECT SEQNO, _STATE, HLTHPLN1, PERSDOC2, MEDCOST, CHECKUP1
FROM TEXAS_cdc_modeled.TEXAS_HEALTH_CARE_2012
UNION ALL
SELECT SEQNO, _STATE, HLTHPLN1, PERSDOC2, MEDCOST, CHECKUP1
FROM TEXAS_cdc_modeled.TEXAS_HEALTH_CARE_2012)

Empty DataFrame
Columns: []
Index: []

In [43]:
%%bigquery
CREATE TABLE TEXAS_cdc_modeled.TEXAS_TOBACCO_USE_float AS
SELECT * FROM(
SELECT SEQNO, _STATE, SMOKE100, SMOKDAY2, LASTSMK2, USENOW3
FROM TEXAS_cdc_modeled.TEXAS_TOBACCO_USE_2011
UNION ALL
SELECT SEQNO, _STATE, SMOKE100, SMOKDAY2, LASTSMK2, USENOW3
FROM TEXAS_cdc_modeled.TEXAS_TOBACCO_USE_2012
UNION ALL
SELECT SEQNO, _STATE, SMOKE100, SMOKDAY2, LASTSMK2, USENOW3
FROM TEXAS_cdc_modeled.TEXAS_TOBACCO_USE_2013)

Empty DataFrame
Columns: []
Index: []

In [ ]:
### CASTING ALL THE FLOAT VALUES TO INT ####

In [45]:
%%bigquery
CREATE TABLE TEXAS_cdc_modeled.TEXAS_Each_survey_member AS
SELECT CAST(SEQNO AS INT64) SEQNO FROM TEXAS_cdc_modeled.TEXAS_Each_survey_member_float

Empty DataFrame
Columns: []
Index: []

In [46]:
%%bigquery
CREATE TABLE TEXAS_cdc_modeled.TEXAS_DEMOGRAPHIC AS
SELECT CAST(SEQNO AS INT64) SEQNO, 
CAST(_STATE AS INT64) _STATE, 
CAST(SEX AS INT64) SEX, 
CAST (MARITAL AS INT64) MARITAL, 
CAST (EDUCA  AS INT64) EDUCA, 
CAST (EMPLOY  AS INT64) EMPLOY, 
CAST (CHILDREN  AS INT64) CHILDREN, 
CAST (INCOME2  AS INT64) INCOME2, 
CAST (WEIGHT2  AS INT64) WEIGHT2, 
CAST (HEIGHT3  AS INT64) HEIGHT3
FROM TEXAS_cdc_modeled.TEXAS_DEMOGRAPHIC_float

Empty DataFrame
Columns: []
Index: []

In [47]:
%%bigquery
CREATE TABLE TEXAS_cdc_modeled.TEXAS_OVERALL_Health_Status AS
SELECT CAST(SEQNO AS INT64) SEQNO, 
CAST(_STATE AS INT64) _STATE, 
CAST(GENHLTH AS INT64) GENHLTH, 
CAST (PHYSHLTH AS INT64) PHYSHLTH, 
CAST (MENTHLTH  AS INT64) MENTHLTH, 
FROM TEXAS_cdc_modeled.TEXAS_OVERALL_Health_Status_float

Empty DataFrame
Columns: []
Index: []

In [48]:
%%bigquery
CREATE TABLE TEXAS_cdc_modeled.TEXAS_HEALTH_CARE AS
SELECT CAST(SEQNO AS INT64) SEQNO, 
CAST(_STATE AS INT64) _STATE, 
CAST(HLTHPLN1 AS INT64) HLTHPLN1, 
CAST (PERSDOC2 AS INT64) PERSDOC2, 
CAST (MEDCOST  AS INT64) MEDCOST, 
CAST (CHECKUP1  AS INT64) CHECKUP1, 
FROM TEXAS_cdc_modeled.TEXAS_HEALTH_CARE_float

Empty DataFrame
Columns: []
Index: []

In [49]:
%%bigquery
CREATE TABLE TEXAS_cdc_modeled.TEXAS_TOBACCO_USE AS
SELECT CAST(SEQNO AS INT64) SEQNO, 
CAST(_STATE AS INT64) _STATE, 
CAST( SMOKE100 AS INT64)  SMOKE100, 
CAST (SMOKDAY2 AS INT64) SMOKDAY2, 
CAST (LASTSMK2  AS INT64) LASTSMK2, 
CAST (USENOW3  AS INT64) USENOW3, 
FROM TEXAS_cdc_modeled.TEXAS_TOBACCO_USE_float

Empty DataFrame
Columns: []
Index: []

In [ ]:
### There are no foreign key violations, because the only foreign key we are using is also our primary key (SEQ NO)

In [ ]:
##############################################################################################################################

In [1]:
%run DEMOGRAPHIC_beam.py

WARNING:apache_beam.runners.interactive.interactive_environment:Interactive Beam requires Python 3.5.3+.
WARNING:apache_beam.runners.interactive.interactive_environment:Dependencies required for Interactive Beam PCollection visualization are not available, please use: `pip install apache-beam[interactive]` to install necessary dependencies to enable all data visualization features.
/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/io/gcp/bigquery.py:1421: BeamDeprecationWarning: options is deprecated since First stable release. References to <pipeline>.options will not be supported
  experiments = p.options.view_as(DebugOptions).experiments or []

query_results PCollection[Read from BigQuery.None]

INFO:apache_beam.runners.direct.direct_runner:Running pipeline with DirectRunner.
INFO:apache_beam.internal.gcp.auth:Setting socket default timeout to 60 seconds.
INFO:apache_beam.internal.gcp.auth:socket default timeout is 60.0 seconds.
INFO:oauth2client.transport:Attempting refresh to obtain initial access_token
INFO:apache_beam.io.gcp.bigquery_tools:Using location 'US' from table <TableReference
 datasetId: 'cdc_modeled'
 projectId: 'sunny-advantage-266802'
 tableId: 'DEMOGRAPHIC'> referenced by query SELECT SEQNO, _STATE, SEX, MARITAL, EDUCA, EMPLOY, CHILDREN, INCOME2, WEIGHT2, HEIGHT3  FROM cdc_modeled.DEMOGRAPHIC limit 50
WARNING:apache_beam.io.gcp.bigquery_tools:Dataset sunny-advantage-266802:temp_dataset_e1ac707cc12d4c738de396fe5089503c does not exist so we will create it as temporary with location=US
INFO:apache_beam.io.gcp.bigquery_tools:Created table sunny-advantage-266802.cdc_modeled.DEMOGRAPHIC_Beam with schema <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'SEQNO'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: '_STATE'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'SEX'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'MARITAL'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'EDUCA'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'EMPLOY'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'CHILDREN'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'INCOME2'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'WEIGHT2'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'HEIGHT3'
 type: 'INTEGER'>]>. Result: <Table
 creationTime: 1583691711782
 etag: '6qAkyfPxqfJwQ74y1KXGlA=='
 id: 'sunny-advantage-266802:cdc_modeled.DEMOGRAPHIC_Beam'
 kind: 'bigquery#table'
 lastModifiedTime: 1583691711826
 location: 'US'
 numBytes: 0
 numLongTermBytes: 0
 numRows: 0
 schema: <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'SEQNO'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: '_STATE'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'SEX'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'MARITAL'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'EDUCA'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'EMPLOY'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'CHILDREN'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'INCOME2'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'WEIGHT2'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'HEIGHT3'
 type: 'INTEGER'>]>
 selfLink: 'https://www.googleapis.com/bigquery/v2/projects/sunny-advantage-266802/datasets/cdc_modeled/tables/DEMOGRAPHIC_Beam'
 tableReference: <TableReference
 datasetId: 'cdc_modeled'
 projectId: 'sunny-advantage-266802'
 tableId: 'DEMOGRAPHIC_Beam'>
 type: 'TABLE'>.
WARNING:apache_beam.io.gcp.bigquery_tools:Sleeping for 150 seconds before the write as BigQuery inserts can be routed to deleted table for 2 mins after the delete and create.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.

In [ ]:
### The above "%run DEMOGRAPHIC_beam.py" ran successfully!
### a new table was created in our cdc_modeled dataset, and it is called DEMOGRAPHIC_Beam
### The DEMOGRAPHIC_beam has all the columns we need.
### There are None values present in the input file, but not the output file, showing that out beam pipeline worked.

In [ ]:
### Checking to see if SEQNO is primary key for DEMOGRAPHIC_Beam

In [53]:
%%bigquery
select count(SEQNO) from cdc_modeled.DEMOGRAPHIC_Beam

   f0_
0   50

In [54]:
%%bigquery
select count(distinct SEQNO) from cdc_modeled.DEMOGRAPHIC_Beam

   f0_
0   50

In [ ]:
### As count SEQNO and count distinc SEQNO results in the same number, SEQNO is unique and it is out primary key.

In [55]:
### Demographics is now our main table. It has a PK. As it is not a child table, it does not have a FK.

In [13]:
%run DEMOGRAPHIC_beam.py

query_results PCollection[Read from BigQuery.None]

/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/io/gcp/bigquery.py:1421: BeamDeprecationWarning: options is deprecated since First stable release. References to <pipeline>.options will not be supported
  experiments = p.options.view_as(DebugOptions).experiments or []
INFO:apache_beam.runners.direct.direct_runner:Running pipeline with DirectRunner.
INFO:apache_beam.io.gcp.bigquery_tools:Using location 'US' from table <TableReference
 datasetId: 'cdc_modeled'
 projectId: 'sunny-advantage-266802'
 tableId: 'DEMOGRAPHIC'> referenced by query SELECT SEQNO, _STATE, SEX, MARITAL, EDUCA, EMPLOY, CHILDREN, INCOME2, WEIGHT2, HEIGHT3  FROM cdc_modeled.DEMOGRAPHIC limit 50
WARNING:apache_beam.io.gcp.bigquery_tools:Dataset sunny-advantage-266802:temp_dataset_7e84692502834f14b5c349440cc9961e does not exist so we will create it as temporary with location=US
INFO:apache_beam.io.gcp.bigquery_tools:Created table sunny-advantage-266802.cdc_modeled.DEMOGRAPHIC_Beam with schema <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'SEQNO'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: '_STATE'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'SEX'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'MARITAL'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'EDUCA'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'EMPLOY'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'CHILDREN'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'INCOME2'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'WEIGHT2'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'HEIGHT3'
 type: 'INTEGER'>]>. Result: <Table
 creationTime: 1583689450887
 etag: 'OnPocT0btv/3B+zJcEZcGw=='
 id: 'sunny-advantage-266802:cdc_modeled.DEMOGRAPHIC_Beam'
 kind: 'bigquery#table'
 lastModifiedTime: 1583689450916
 location: 'US'
 numBytes: 0
 numLongTermBytes: 0
 numRows: 0
 schema: <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'SEQNO'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: '_STATE'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'SEX'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'MARITAL'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'EDUCA'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'EMPLOY'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'CHILDREN'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'INCOME2'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'WEIGHT2'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'HEIGHT3'
 type: 'INTEGER'>]>
 selfLink: 'https://www.googleapis.com/bigquery/v2/projects/sunny-advantage-266802/datasets/cdc_modeled/tables/DEMOGRAPHIC_Beam'
 tableReference: <TableReference
 datasetId: 'cdc_modeled'
 projectId: 'sunny-advantage-266802'
 tableId: 'DEMOGRAPHIC_Beam'>
 type: 'TABLE'>.
WARNING:apache_beam.io.gcp.bigquery_tools:Sleeping for 150 seconds before the write as BigQuery inserts can be routed to deleted table for 2 mins after the delete and create.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.

In [5]:
%run DEMOGRAPHIC_beam_dataflow.py

WARNING:apache_beam.options.pipeline_options:--region not set; will default to us-central1. Future releases of Beam will require the user to set --region explicitly, or else have a default set via the gcloud tool. https://cloud.google.com/compute/docs/regions-zones
/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/runners/dataflow/dataflow_runner.py:740: BeamDeprecationWarning: BigQuerySink is deprecated since 2.11.0. Use WriteToBigQuery instead.
  kms_key=transform.kms_key))
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-demographic2.1583518378.783047/pipeline.pb...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-demographic2.1583518378.783047/pipeline.pb in 0 seconds.
INFO:apache_beam.runners.portability.stager:Downloading source distribution of the SDK from PyPi
INFO:apache_beam.runners.portability.stager:Executing command: ['/home/jupyter/venv/bin/python', '-m', 'pip', 'download', '--dest', '/tmp/tmpr79p6kdm', 'apache-beam==2.19.0', '--no-deps', '--no-binary', ':all:']
INFO:apache_beam.runners.portability.stager:Staging SDK sources from PyPI to gs://beam_cs327e_data_thedataminers/staging/transform-demographic2.1583518378.783047/dataflow_python_sdk.tar
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-demographic2.1583518378.783047/dataflow_python_sdk.tar...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-demographic2.1583518378.783047/dataflow_python_sdk.tar in 0 seconds.
INFO:apache_beam.runners.portability.stager:Downloading binary distribution of the SDK from PyPi
INFO:apache_beam.runners.portability.stager:Executing command: ['/home/jupyter/venv/bin/python', '-m', 'pip', 'download', '--dest', '/tmp/tmpr79p6kdm', 'apache-beam==2.19.0', '--no-deps', '--only-binary', ':all:', '--python-version', '35', '--implementation', 'cp', '--abi', 'cp35m', '--platform', 'manylinux1_x86_64']
INFO:apache_beam.runners.portability.stager:Staging binary distribution of the SDK from PyPI to gs://beam_cs327e_data_thedataminers/staging/transform-demographic2.1583518378.783047/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-demographic2.1583518378.783047/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-demographic2.1583518378.783047/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl in 0 seconds.
INFO:apache_beam.runners.dataflow.internal.apiclient:Create job: <Job
 createTime: '2020-03-06T18:13:04.138501Z'
 currentStateTime: '1970-01-01T00:00:00Z'
 id: '2020-03-06_10_13_03-6814820465299323'
 location: 'us-central1'
 name: 'transform-demographic2'
 projectId: 'sunny-advantage-266802'
 stageStates: []
 startTime: '2020-03-06T18:13:04.138501Z'
 steps: []
 tempFiles: []
 type: TypeValueValuesEnum(JOB_TYPE_BATCH, 1)>
INFO:apache_beam.runners.dataflow.internal.apiclient:Created job with id: [2020-03-06_10_13_03-6814820465299323]
INFO:apache_beam.runners.dataflow.internal.apiclient:To access the Dataflow monitoring console, please navigate to https://console.cloud.google.com/dataflow/jobsDetail/locations/us-central1/jobs/2020-03-06_10_13_03-6814820465299323?project=sunny-advantage-266802
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-03-06_10_13_03-6814820465299323 is in state JOB_STATE_PENDING
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:03.133Z: JOB_MESSAGE_DETAILED: Autoscaling is enabled for job 2020-03-06_10_13_03-6814820465299323. The number of workers will be between 1 and 1000.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:03.133Z: JOB_MESSAGE_DETAILED: Autoscaling was automatically enabled for job 2020-03-06_10_13_03-6814820465299323.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:08.060Z: JOB_MESSAGE_DETAILED: Checking permissions granted to controller Service Account.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:08.801Z: JOB_MESSAGE_BASIC: Worker configuration: n1-standard-4 in us-central1-c.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:09.647Z: JOB_MESSAGE_DETAILED: Expanding CoGroupByKey operations into optimizable parts.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:09.738Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Write log 2/Write/WriteImpl/GroupByKey: GroupByKey not followed by a combiner.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:09.825Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Write log 1/Write/WriteImpl/GroupByKey: GroupByKey not followed by a combiner.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:09.958Z: JOB_MESSAGE_DETAILED: Expanding GroupByKey operations into optimizable parts.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:10.003Z: JOB_MESSAGE_DETAILED: Lifting ValueCombiningMappingFns into MergeBucketsMappingFns
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:10.220Z: JOB_MESSAGE_DEBUG: Annotating graph with Autotuner information.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:10.512Z: JOB_MESSAGE_DETAILED: Fusing adjacent ParDo, Read, Write, and Flatten operations
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:10.545Z: JOB_MESSAGE_DETAILED: Fusing consumer Format NULL values into Read from BigQuery
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:10.571Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/WriteBundles/WriteBundles into Read from BigQuery
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:10.603Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/WriteBundles/WriteBundles into Format NULL values
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:10.633Z: JOB_MESSAGE_DETAILED: Fusing consumer Write BQ table/WriteToBigQuery/NativeWrite into Format NULL values
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:10.663Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/Pair into Write log 1/Write/WriteImpl/WriteBundles/WriteBundles
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:10.729Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/WindowInto(WindowIntoFn) into Write log 1/Write/WriteImpl/Pair
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:10.768Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/GroupByKey/Reify into Write log 1/Write/WriteImpl/WindowInto(WindowIntoFn)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:10.794Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/GroupByKey/Write into Write log 1/Write/WriteImpl/GroupByKey/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:10.824Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/GroupByKey/GroupByWindow into Write log 1/Write/WriteImpl/GroupByKey/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:10.855Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/Extract into Write log 1/Write/WriteImpl/GroupByKey/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:10.884Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/Pair into Write log 2/Write/WriteImpl/WriteBundles/WriteBundles
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:10.907Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/WindowInto(WindowIntoFn) into Write log 2/Write/WriteImpl/Pair
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:10.932Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/GroupByKey/Reify into Write log 2/Write/WriteImpl/WindowInto(WindowIntoFn)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:10.956Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/GroupByKey/Write into Write log 2/Write/WriteImpl/GroupByKey/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:10.987Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/GroupByKey/GroupByWindow into Write log 2/Write/WriteImpl/GroupByKey/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:11.022Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/Extract into Write log 2/Write/WriteImpl/GroupByKey/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:11.125Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/InitializeWrite into Write log 1/Write/WriteImpl/DoOnce/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:11.208Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/InitializeWrite into Write log 2/Write/WriteImpl/DoOnce/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:11.310Z: JOB_MESSAGE_DEBUG: Workflow config is missing a default resource spec.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:11.366Z: JOB_MESSAGE_DEBUG: Adding StepResource setup and teardown to workflow graph.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:11.422Z: JOB_MESSAGE_DEBUG: Adding workflow start and stop steps.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:11.459Z: JOB_MESSAGE_DEBUG: Assigning stage ids.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:11.823Z: JOB_MESSAGE_DEBUG: Executing wait step start29
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:12.095Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/DoOnce/Read+Write log 2/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:12.136Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/DoOnce/Read+Write log 1/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:12.165Z: JOB_MESSAGE_DEBUG: Starting worker pool setup.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:12.195Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:12.218Z: JOB_MESSAGE_BASIC: Starting 1 workers in us-central1-c...
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:12.244Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:12.328Z: JOB_MESSAGE_BASIC: Finished operation Write log 2/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:12.329Z: JOB_MESSAGE_BASIC: Finished operation Write log 1/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:12.403Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/GroupByKey/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:12.430Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/GroupByKey/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-03-06_10_13_03-6814820465299323 is in state JOB_STATE_RUNNING
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:13:45.998Z: JOB_MESSAGE_DETAILED: Autoscaling: Raised the number of workers to 1 based on the rate of progress in the currently running step(s).
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:14:58.859Z: JOB_MESSAGE_DETAILED: Workers have started successfully.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:14:58.892Z: JOB_MESSAGE_DETAILED: Workers have started successfully.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:15:27.697Z: JOB_MESSAGE_BASIC: Finished operation Write log 2/Write/WriteImpl/DoOnce/Read+Write log 2/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:15:27.765Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/DoOnce/Read.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:15:27.803Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/InitializeWrite.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:15:27.885Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:15:27.940Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:15:27.973Z: JOB_MESSAGE_BASIC: Finished operation Write log 2/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:15:27.989Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:15:28.023Z: JOB_MESSAGE_BASIC: Finished operation Write log 2/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:15:28.076Z: JOB_MESSAGE_BASIC: Finished operation Write log 2/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:15:28.109Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:15:28.158Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:15:28.204Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:15:28.647Z: JOB_MESSAGE_BASIC: Finished operation Write log 1/Write/WriteImpl/DoOnce/Read+Write log 1/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:15:28.726Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/DoOnce/Read.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:15:28.760Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/InitializeWrite.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:15:28.832Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:15:28.861Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:15:28.887Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:15:28.903Z: JOB_MESSAGE_BASIC: Finished operation Write log 1/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:15:28.924Z: JOB_MESSAGE_BASIC: Finished operation Write log 1/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:15:28.945Z: JOB_MESSAGE_BASIC: Finished operation Write log 1/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:15:28.971Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:15:28.998Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:15:29.025Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:15:29.059Z: JOB_MESSAGE_BASIC: Executing operation Read from BigQuery+Format NULL values+Write log 1/Write/WriteImpl/WriteBundles/WriteBundles+Write log 2/Write/WriteImpl/WriteBundles/WriteBundles+Write BQ table/WriteToBigQuery/NativeWrite+Write log 1/Write/WriteImpl/Pair+Write log 1/Write/WriteImpl/WindowInto(WindowIntoFn)+Write log 1/Write/WriteImpl/GroupByKey/Reify+Write log 1/Write/WriteImpl/GroupByKey/Write+Write log 2/Write/WriteImpl/Pair+Write log 2/Write/WriteImpl/WindowInto(WindowIntoFn)+Write log 2/Write/WriteImpl/GroupByKey/Reify+Write log 2/Write/WriteImpl/GroupByKey/Write
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:15:30.143Z: JOB_MESSAGE_BASIC: BigQuery query issued as job: "dataflow_job_3220603751336333034". You can check its status with the bq tool: "bq show -j --project_id=sunny-advantage-266802 dataflow_job_3220603751336333034".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:17:06.265Z: JOB_MESSAGE_BASIC: BigQuery query completed, job : "dataflow_job_3220603751336333034"
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:17:07.297Z: JOB_MESSAGE_BASIC: BigQuery export job "dataflow_job_709857862606007120" started. You can check its status with the bq tool: "bq show -j --project_id=sunny-advantage-266802 dataflow_job_709857862606007120".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:17:37.660Z: JOB_MESSAGE_DETAILED: BigQuery export job progress: "dataflow_job_709857862606007120" observed total of 1 exported files thus far.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:17:37.688Z: JOB_MESSAGE_BASIC: BigQuery export job finished: "dataflow_job_709857862606007120"
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:17:42.943Z: JOB_MESSAGE_BASIC: Executing BigQuery import job "dataflow_job_3220603751336330494". You can check its status with the bq tool: "bq show -j --project_id=sunny-advantage-266802 dataflow_job_3220603751336330494".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:17:53.442Z: JOB_MESSAGE_BASIC: BigQuery import job "dataflow_job_3220603751336330494" done.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:17:53.929Z: JOB_MESSAGE_BASIC: Finished operation Read from BigQuery+Format NULL values+Write log 1/Write/WriteImpl/WriteBundles/WriteBundles+Write log 2/Write/WriteImpl/WriteBundles/WriteBundles+Write BQ table/WriteToBigQuery/NativeWrite+Write log 1/Write/WriteImpl/Pair+Write log 1/Write/WriteImpl/WindowInto(WindowIntoFn)+Write log 1/Write/WriteImpl/GroupByKey/Reify+Write log 1/Write/WriteImpl/GroupByKey/Write+Write log 2/Write/WriteImpl/Pair+Write log 2/Write/WriteImpl/WindowInto(WindowIntoFn)+Write log 2/Write/WriteImpl/GroupByKey/Reify+Write log 2/Write/WriteImpl/GroupByKey/Write
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:17:54.070Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/GroupByKey/Close
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-06T18:17:54.097Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/GroupByKey/Close

In [3]:
%run HEALTH_CARE_beam.py

query_results PCollection[Read from BigQuery.None]

/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/io/gcp/bigquery.py:1421: BeamDeprecationWarning: options is deprecated since First stable release. References to <pipeline>.options will not be supported
  experiments = p.options.view_as(DebugOptions).experiments or []
INFO:apache_beam.runners.direct.direct_runner:Running pipeline with DirectRunner.
INFO:apache_beam.io.gcp.bigquery_tools:Using location 'US' from table <TableReference
 datasetId: 'cdc_modeled'
 projectId: 'sunny-advantage-266802'
 tableId: 'HEALTH_CARE'> referenced by query SELECT SEQNO, _STATE, HLTHPLN1, PERSDOC2, MEDCOST, CHECKUP1 FROM cdc_modeled.HEALTH_CARE limit 50
WARNING:apache_beam.io.gcp.bigquery_tools:Dataset sunny-advantage-266802:temp_dataset_382a21c238c7447fb494fa2df82b8049 does not exist so we will create it as temporary with location=US
INFO:apache_beam.io.gcp.bigquery_tools:Created table sunny-advantage-266802.cdc_modeled.HEALTH_CARE_Beam with schema <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'SEQNO'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: '_STATE'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'HLTHPLN1'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'PERSDOC2'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'MEDCOST'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'CHECKUP1'
 type: 'INTEGER'>]>. Result: <Table
 creationTime: 1583677739324
 etag: 'gBj4k+hYglqFHLKnC3yZTg=='
 id: 'sunny-advantage-266802:cdc_modeled.HEALTH_CARE_Beam'
 kind: 'bigquery#table'
 lastModifiedTime: 1583677739361
 location: 'US'
 numBytes: 0
 numLongTermBytes: 0
 numRows: 0
 schema: <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'SEQNO'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: '_STATE'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'HLTHPLN1'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'PERSDOC2'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'MEDCOST'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'CHECKUP1'
 type: 'INTEGER'>]>
 selfLink: 'https://www.googleapis.com/bigquery/v2/projects/sunny-advantage-266802/datasets/cdc_modeled/tables/HEALTH_CARE_Beam'
 tableReference: <TableReference
 datasetId: 'cdc_modeled'
 projectId: 'sunny-advantage-266802'
 tableId: 'HEALTH_CARE_Beam'>
 type: 'TABLE'>.
WARNING:apache_beam.io.gcp.bigquery_tools:Sleeping for 150 seconds before the write as BigQuery inserts can be routed to deleted table for 2 mins after the delete and create.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.

In [4]:
%run HEALTH_CARE_beam_dataflow.py

WARNING:apache_beam.options.pipeline_options:--region not set; will default to us-central1. Future releases of Beam will require the user to set --region explicitly, or else have a default set via the gcloud tool. https://cloud.google.com/compute/docs/regions-zones
/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/runners/dataflow/dataflow_runner.py:740: BeamDeprecationWarning: BigQuerySink is deprecated since 2.11.0. Use WriteToBigQuery instead.
  kms_key=transform.kms_key))
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-health-care-2.1583678138.414827/pipeline.pb...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-health-care-2.1583678138.414827/pipeline.pb in 0 seconds.
INFO:apache_beam.runners.portability.stager:Downloading source distribution of the SDK from PyPi
INFO:apache_beam.runners.portability.stager:Executing command: ['/home/jupyter/venv/bin/python', '-m', 'pip', 'download', '--dest', '/tmp/tmpbiqazgit', 'apache-beam==2.19.0', '--no-deps', '--no-binary', ':all:']
INFO:apache_beam.runners.portability.stager:Staging SDK sources from PyPI to gs://beam_cs327e_data_thedataminers/staging/transform-health-care-2.1583678138.414827/dataflow_python_sdk.tar
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-health-care-2.1583678138.414827/dataflow_python_sdk.tar...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-health-care-2.1583678138.414827/dataflow_python_sdk.tar in 0 seconds.
INFO:apache_beam.runners.portability.stager:Downloading binary distribution of the SDK from PyPi
INFO:apache_beam.runners.portability.stager:Executing command: ['/home/jupyter/venv/bin/python', '-m', 'pip', 'download', '--dest', '/tmp/tmpbiqazgit', 'apache-beam==2.19.0', '--no-deps', '--only-binary', ':all:', '--python-version', '35', '--implementation', 'cp', '--abi', 'cp35m', '--platform', 'manylinux1_x86_64']
INFO:apache_beam.runners.portability.stager:Staging binary distribution of the SDK from PyPI to gs://beam_cs327e_data_thedataminers/staging/transform-health-care-2.1583678138.414827/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-health-care-2.1583678138.414827/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-health-care-2.1583678138.414827/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl in 1 seconds.
INFO:apache_beam.runners.dataflow.internal.apiclient:Create job: <Job
 createTime: '2020-03-08T14:35:43.921179Z'
 currentStateTime: '1970-01-01T00:00:00Z'
 id: '2020-03-08_07_35_42-2169767173921659007'
 location: 'us-central1'
 name: 'transform-health-care-2'
 projectId: 'sunny-advantage-266802'
 stageStates: []
 startTime: '2020-03-08T14:35:43.921179Z'
 steps: []
 tempFiles: []
 type: TypeValueValuesEnum(JOB_TYPE_BATCH, 1)>
INFO:apache_beam.runners.dataflow.internal.apiclient:Created job with id: [2020-03-08_07_35_42-2169767173921659007]
INFO:apache_beam.runners.dataflow.internal.apiclient:To access the Dataflow monitoring console, please navigate to https://console.cloud.google.com/dataflow/jobsDetail/locations/us-central1/jobs/2020-03-08_07_35_42-2169767173921659007?project=sunny-advantage-266802
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-03-08_07_35_42-2169767173921659007 is in state JOB_STATE_PENDING
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:42.758Z: JOB_MESSAGE_DETAILED: Autoscaling is enabled for job 2020-03-08_07_35_42-2169767173921659007. The number of workers will be between 1 and 1000.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:42.758Z: JOB_MESSAGE_DETAILED: Autoscaling was automatically enabled for job 2020-03-08_07_35_42-2169767173921659007.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:47.213Z: JOB_MESSAGE_DETAILED: Checking permissions granted to controller Service Account.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:47.945Z: JOB_MESSAGE_BASIC: Worker configuration: n1-standard-4 in us-central1-c.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:48.513Z: JOB_MESSAGE_DETAILED: Expanding CoGroupByKey operations into optimizable parts.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:48.546Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Write log 2/Write/WriteImpl/GroupByKey: GroupByKey not followed by a combiner.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:48.566Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Write log 1/Write/WriteImpl/GroupByKey: GroupByKey not followed by a combiner.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:48.594Z: JOB_MESSAGE_DETAILED: Expanding GroupByKey operations into optimizable parts.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:48.618Z: JOB_MESSAGE_DETAILED: Lifting ValueCombiningMappingFns into MergeBucketsMappingFns
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:48.701Z: JOB_MESSAGE_DEBUG: Annotating graph with Autotuner information.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:48.960Z: JOB_MESSAGE_DETAILED: Fusing adjacent ParDo, Read, Write, and Flatten operations
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:48.990Z: JOB_MESSAGE_DETAILED: Fusing consumer Format NULL values into Read from BigQuery
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:49.018Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/WriteBundles/WriteBundles into Read from BigQuery
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:49.046Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/WriteBundles/WriteBundles into Format NULL values
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:49.073Z: JOB_MESSAGE_DETAILED: Fusing consumer Write BQ table/WriteToBigQuery/NativeWrite into Format NULL values
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:49.102Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/Pair into Write log 1/Write/WriteImpl/WriteBundles/WriteBundles
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:49.131Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/WindowInto(WindowIntoFn) into Write log 1/Write/WriteImpl/Pair
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:49.161Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/GroupByKey/Reify into Write log 1/Write/WriteImpl/WindowInto(WindowIntoFn)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:49.186Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/GroupByKey/Write into Write log 1/Write/WriteImpl/GroupByKey/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:49.210Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/GroupByKey/GroupByWindow into Write log 1/Write/WriteImpl/GroupByKey/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:49.237Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/Extract into Write log 1/Write/WriteImpl/GroupByKey/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:49.258Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/Pair into Write log 2/Write/WriteImpl/WriteBundles/WriteBundles
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:49.282Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/WindowInto(WindowIntoFn) into Write log 2/Write/WriteImpl/Pair
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:49.308Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/GroupByKey/Reify into Write log 2/Write/WriteImpl/WindowInto(WindowIntoFn)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:49.329Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/GroupByKey/Write into Write log 2/Write/WriteImpl/GroupByKey/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:49.350Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/GroupByKey/GroupByWindow into Write log 2/Write/WriteImpl/GroupByKey/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:49.377Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/Extract into Write log 2/Write/WriteImpl/GroupByKey/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:49.404Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/InitializeWrite into Write log 1/Write/WriteImpl/DoOnce/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:49.428Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/InitializeWrite into Write log 2/Write/WriteImpl/DoOnce/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:49.455Z: JOB_MESSAGE_DEBUG: Workflow config is missing a default resource spec.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:49.485Z: JOB_MESSAGE_DEBUG: Adding StepResource setup and teardown to workflow graph.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:49.510Z: JOB_MESSAGE_DEBUG: Adding workflow start and stop steps.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:49.538Z: JOB_MESSAGE_DEBUG: Assigning stage ids.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:49.900Z: JOB_MESSAGE_DEBUG: Executing wait step start29
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:49.962Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/DoOnce/Read+Write log 2/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:49.983Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/DoOnce/Read+Write log 1/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:49.994Z: JOB_MESSAGE_DEBUG: Starting worker pool setup.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:50.005Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:50.017Z: JOB_MESSAGE_BASIC: Starting 1 workers in us-central1-c...
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:50.024Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:50.079Z: JOB_MESSAGE_BASIC: Finished operation Write log 2/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:50.079Z: JOB_MESSAGE_BASIC: Finished operation Write log 1/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:50.136Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/GroupByKey/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:35:50.157Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/GroupByKey/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-03-08_07_35_42-2169767173921659007 is in state JOB_STATE_RUNNING
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:36:17.995Z: JOB_MESSAGE_DETAILED: Autoscaling: Raised the number of workers to 1 based on the rate of progress in the currently running step(s).
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:37:34.063Z: JOB_MESSAGE_DETAILED: Workers have started successfully.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:37:34.096Z: JOB_MESSAGE_DETAILED: Workers have started successfully.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:38:04.391Z: JOB_MESSAGE_BASIC: Finished operation Write log 1/Write/WriteImpl/DoOnce/Read+Write log 1/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:38:04.517Z: JOB_MESSAGE_BASIC: Finished operation Write log 2/Write/WriteImpl/DoOnce/Read+Write log 2/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:38:04.518Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/DoOnce/Read.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:38:04.556Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/InitializeWrite.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:38:04.601Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/DoOnce/Read.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:38:04.632Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/InitializeWrite.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:38:04.731Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:38:04.783Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:38:04.795Z: JOB_MESSAGE_BASIC: Finished operation Write log 1/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:38:04.824Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:38:04.875Z: JOB_MESSAGE_BASIC: Finished operation Write log 1/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:38:04.920Z: JOB_MESSAGE_BASIC: Finished operation Write log 1/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:38:04.960Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:38:04.974Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:38:05.014Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:38:05.030Z: JOB_MESSAGE_BASIC: Finished operation Write log 2/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:38:05.030Z: JOB_MESSAGE_BASIC: Finished operation Write log 2/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:38:05.037Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:38:05.063Z: JOB_MESSAGE_BASIC: Finished operation Write log 2/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:38:05.067Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:38:05.090Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:38:05.123Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:38:05.151Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:38:05.181Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:38:05.209Z: JOB_MESSAGE_BASIC: Executing operation Read from BigQuery+Format NULL values+Write log 1/Write/WriteImpl/WriteBundles/WriteBundles+Write log 2/Write/WriteImpl/WriteBundles/WriteBundles+Write BQ table/WriteToBigQuery/NativeWrite+Write log 1/Write/WriteImpl/Pair+Write log 1/Write/WriteImpl/WindowInto(WindowIntoFn)+Write log 1/Write/WriteImpl/GroupByKey/Reify+Write log 1/Write/WriteImpl/GroupByKey/Write+Write log 2/Write/WriteImpl/Pair+Write log 2/Write/WriteImpl/WindowInto(WindowIntoFn)+Write log 2/Write/WriteImpl/GroupByKey/Reify+Write log 2/Write/WriteImpl/GroupByKey/Write
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:38:06.299Z: JOB_MESSAGE_BASIC: BigQuery query issued as job: "dataflow_job_8787077992012454051". You can check its status with the bq tool: "bq show -j --project_id=sunny-advantage-266802 dataflow_job_8787077992012454051".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:39:13.007Z: JOB_MESSAGE_BASIC: BigQuery query completed, job : "dataflow_job_8787077992012454051"
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:39:13.807Z: JOB_MESSAGE_BASIC: BigQuery export job "dataflow_job_6046746483179746516" started. You can check its status with the bq tool: "bq show -j --project_id=sunny-advantage-266802 dataflow_job_6046746483179746516".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:39:44.137Z: JOB_MESSAGE_DETAILED: BigQuery export job progress: "dataflow_job_6046746483179746516" observed total of 1 exported files thus far.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:39:44.164Z: JOB_MESSAGE_BASIC: BigQuery export job finished: "dataflow_job_6046746483179746516"
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:39:49.597Z: JOB_MESSAGE_BASIC: Executing BigQuery import job "dataflow_job_8787077992012454383". You can check its status with the bq tool: "bq show -j --project_id=sunny-advantage-266802 dataflow_job_8787077992012454383".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:40:00.025Z: JOB_MESSAGE_BASIC: BigQuery import job "dataflow_job_8787077992012454383" done.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:40:00.779Z: JOB_MESSAGE_BASIC: Finished operation Read from BigQuery+Format NULL values+Write log 1/Write/WriteImpl/WriteBundles/WriteBundles+Write log 2/Write/WriteImpl/WriteBundles/WriteBundles+Write BQ table/WriteToBigQuery/NativeWrite+Write log 1/Write/WriteImpl/Pair+Write log 1/Write/WriteImpl/WindowInto(WindowIntoFn)+Write log 1/Write/WriteImpl/GroupByKey/Reify+Write log 1/Write/WriteImpl/GroupByKey/Write+Write log 2/Write/WriteImpl/Pair+Write log 2/Write/WriteImpl/WindowInto(WindowIntoFn)+Write log 2/Write/WriteImpl/GroupByKey/Reify+Write log 2/Write/WriteImpl/GroupByKey/Write
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:40:00.843Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/GroupByKey/Close
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T14:40:00.868Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/GroupByKey/Close

In [2]:
%run OVERALL_Health_Status_beam.py

query_results PCollection[Read from BigQuery.None]

/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/io/gcp/bigquery.py:1421: BeamDeprecationWarning: options is deprecated since First stable release. References to <pipeline>.options will not be supported
  experiments = p.options.view_as(DebugOptions).experiments or []
INFO:apache_beam.runners.direct.direct_runner:Running pipeline with DirectRunner.
INFO:apache_beam.io.gcp.bigquery_tools:Using location 'US' from table <TableReference
 datasetId: 'cdc_modeled'
 projectId: 'sunny-advantage-266802'
 tableId: 'OVERALL_Health_Status'> referenced by query SELECT SEQNO, _STATE, GENHLTH, PHYSHLTH, MENTHLTH FROM cdc_modeled.OVERALL_Health_Status limit 50
WARNING:apache_beam.io.gcp.bigquery_tools:Dataset sunny-advantage-266802:temp_dataset_ad70199a1769427b8664a64e5c6b446a does not exist so we will create it as temporary with location=US
INFO:apache_beam.io.gcp.bigquery_tools:Created table sunny-advantage-266802.cdc_modeled.OVERALL_Health_Status_Beam with schema <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'SEQNO'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: '_STATE'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'GENHLTH'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'PHYSHLTH'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'MENTHLTH'
 type: 'INTEGER'>]>. Result: <Table
 creationTime: 1583681238880
 etag: 'jUSUIOVQaBPYTK3Kejks0A=='
 id: 'sunny-advantage-266802:cdc_modeled.OVERALL_Health_Status_Beam'
 kind: 'bigquery#table'
 lastModifiedTime: 1583681238925
 location: 'US'
 numBytes: 0
 numLongTermBytes: 0
 numRows: 0
 schema: <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'SEQNO'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: '_STATE'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'GENHLTH'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'PHYSHLTH'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'MENTHLTH'
 type: 'INTEGER'>]>
 selfLink: 'https://www.googleapis.com/bigquery/v2/projects/sunny-advantage-266802/datasets/cdc_modeled/tables/OVERALL_Health_Status_Beam'
 tableReference: <TableReference
 datasetId: 'cdc_modeled'
 projectId: 'sunny-advantage-266802'
 tableId: 'OVERALL_Health_Status_Beam'>
 type: 'TABLE'>.
WARNING:apache_beam.io.gcp.bigquery_tools:Sleeping for 150 seconds before the write as BigQuery inserts can be routed to deleted table for 2 mins after the delete and create.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.

In [4]:
%run OVERALL_Health_Status_beam_dataflow.py

WARNING:apache_beam.options.pipeline_options:--region not set; will default to us-central1. Future releases of Beam will require the user to set --region explicitly, or else have a default set via the gcloud tool. https://cloud.google.com/compute/docs/regions-zones
/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/runners/dataflow/dataflow_runner.py:740: BeamDeprecationWarning: BigQuerySink is deprecated since 2.11.0. Use WriteToBigQuery instead.
  kms_key=transform.kms_key))
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-overall-health-status2.1583681736.112524/pipeline.pb...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-overall-health-status2.1583681736.112524/pipeline.pb in 0 seconds.
INFO:apache_beam.runners.portability.stager:Downloading source distribution of the SDK from PyPi
INFO:apache_beam.runners.portability.stager:Executing command: ['/home/jupyter/venv/bin/python', '-m', 'pip', 'download', '--dest', '/tmp/tmp66je9eoc', 'apache-beam==2.19.0', '--no-deps', '--no-binary', ':all:']
INFO:apache_beam.runners.portability.stager:Staging SDK sources from PyPI to gs://beam_cs327e_data_thedataminers/staging/transform-overall-health-status2.1583681736.112524/dataflow_python_sdk.tar
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-overall-health-status2.1583681736.112524/dataflow_python_sdk.tar...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-overall-health-status2.1583681736.112524/dataflow_python_sdk.tar in 0 seconds.
INFO:apache_beam.runners.portability.stager:Downloading binary distribution of the SDK from PyPi
INFO:apache_beam.runners.portability.stager:Executing command: ['/home/jupyter/venv/bin/python', '-m', 'pip', 'download', '--dest', '/tmp/tmp66je9eoc', 'apache-beam==2.19.0', '--no-deps', '--only-binary', ':all:', '--python-version', '35', '--implementation', 'cp', '--abi', 'cp35m', '--platform', 'manylinux1_x86_64']
INFO:apache_beam.runners.portability.stager:Staging binary distribution of the SDK from PyPI to gs://beam_cs327e_data_thedataminers/staging/transform-overall-health-status2.1583681736.112524/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-overall-health-status2.1583681736.112524/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-overall-health-status2.1583681736.112524/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl in 1 seconds.
INFO:apache_beam.runners.dataflow.internal.apiclient:Create job: <Job
 createTime: '2020-03-08T15:35:41.669312Z'
 currentStateTime: '1970-01-01T00:00:00Z'
 id: '2020-03-08_08_35_40-14155138580902469935'
 location: 'us-central1'
 name: 'transform-overall-health-status2'
 projectId: 'sunny-advantage-266802'
 stageStates: []
 startTime: '2020-03-08T15:35:41.669312Z'
 steps: []
 tempFiles: []
 type: TypeValueValuesEnum(JOB_TYPE_BATCH, 1)>
INFO:apache_beam.runners.dataflow.internal.apiclient:Created job with id: [2020-03-08_08_35_40-14155138580902469935]
INFO:apache_beam.runners.dataflow.internal.apiclient:To access the Dataflow monitoring console, please navigate to https://console.cloud.google.com/dataflow/jobsDetail/locations/us-central1/jobs/2020-03-08_08_35_40-14155138580902469935?project=sunny-advantage-266802
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-03-08_08_35_40-14155138580902469935 is in state JOB_STATE_PENDING
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:40.452Z: JOB_MESSAGE_DETAILED: Autoscaling is enabled for job 2020-03-08_08_35_40-14155138580902469935. The number of workers will be between 1 and 1000.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:40.452Z: JOB_MESSAGE_DETAILED: Autoscaling was automatically enabled for job 2020-03-08_08_35_40-14155138580902469935.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:43.534Z: JOB_MESSAGE_DETAILED: Checking permissions granted to controller Service Account.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:44.313Z: JOB_MESSAGE_BASIC: Worker configuration: n1-standard-4 in us-central1-a.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:45.122Z: JOB_MESSAGE_DETAILED: Expanding CoGroupByKey operations into optimizable parts.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:45.151Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Write log 2/Write/WriteImpl/GroupByKey: GroupByKey not followed by a combiner.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:45.171Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Write log 1/Write/WriteImpl/GroupByKey: GroupByKey not followed by a combiner.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:45.195Z: JOB_MESSAGE_DETAILED: Expanding GroupByKey operations into optimizable parts.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:45.227Z: JOB_MESSAGE_DETAILED: Lifting ValueCombiningMappingFns into MergeBucketsMappingFns
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:45.337Z: JOB_MESSAGE_DEBUG: Annotating graph with Autotuner information.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:45.604Z: JOB_MESSAGE_DETAILED: Fusing adjacent ParDo, Read, Write, and Flatten operations
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:45.625Z: JOB_MESSAGE_DETAILED: Fusing consumer Format NULL values into Read from BigQuery
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:45.652Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/WriteBundles/WriteBundles into Read from BigQuery
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:45.674Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/WriteBundles/WriteBundles into Format NULL values
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:45.695Z: JOB_MESSAGE_DETAILED: Fusing consumer Write BQ table/WriteToBigQuery/NativeWrite into Format NULL values
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:45.723Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/Pair into Write log 1/Write/WriteImpl/WriteBundles/WriteBundles
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:45.745Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/WindowInto(WindowIntoFn) into Write log 1/Write/WriteImpl/Pair
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:45.773Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/GroupByKey/Reify into Write log 1/Write/WriteImpl/WindowInto(WindowIntoFn)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:45.793Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/GroupByKey/Write into Write log 1/Write/WriteImpl/GroupByKey/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:45.823Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/GroupByKey/GroupByWindow into Write log 1/Write/WriteImpl/GroupByKey/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:45.844Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/Extract into Write log 1/Write/WriteImpl/GroupByKey/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:45.865Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/Pair into Write log 2/Write/WriteImpl/WriteBundles/WriteBundles
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:45.889Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/WindowInto(WindowIntoFn) into Write log 2/Write/WriteImpl/Pair
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:45.912Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/GroupByKey/Reify into Write log 2/Write/WriteImpl/WindowInto(WindowIntoFn)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:45.936Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/GroupByKey/Write into Write log 2/Write/WriteImpl/GroupByKey/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:45.964Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/GroupByKey/GroupByWindow into Write log 2/Write/WriteImpl/GroupByKey/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:45.990Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/Extract into Write log 2/Write/WriteImpl/GroupByKey/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:46.013Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/InitializeWrite into Write log 1/Write/WriteImpl/DoOnce/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:46.032Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/InitializeWrite into Write log 2/Write/WriteImpl/DoOnce/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:46.050Z: JOB_MESSAGE_DEBUG: Workflow config is missing a default resource spec.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:46.073Z: JOB_MESSAGE_DEBUG: Adding StepResource setup and teardown to workflow graph.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:46.092Z: JOB_MESSAGE_DEBUG: Adding workflow start and stop steps.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:46.114Z: JOB_MESSAGE_DEBUG: Assigning stage ids.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:46.320Z: JOB_MESSAGE_DEBUG: Executing wait step start29
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:46.369Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/DoOnce/Read+Write log 2/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:46.396Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/DoOnce/Read+Write log 1/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:46.408Z: JOB_MESSAGE_DEBUG: Starting worker pool setup.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:46.422Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:46.430Z: JOB_MESSAGE_BASIC: Starting 1 workers in us-central1-a...
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:46.447Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:46.475Z: JOB_MESSAGE_BASIC: Finished operation Write log 2/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:46.490Z: JOB_MESSAGE_BASIC: Finished operation Write log 1/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:46.527Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/GroupByKey/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:35:46.555Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/GroupByKey/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-03-08_08_35_40-14155138580902469935 is in state JOB_STATE_RUNNING
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:36:09.546Z: JOB_MESSAGE_DETAILED: Autoscaling: Raised the number of workers to 1 based on the rate of progress in the currently running step(s).
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:37:21.271Z: JOB_MESSAGE_DETAILED: Workers have started successfully.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:37:21.301Z: JOB_MESSAGE_DETAILED: Workers have started successfully.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:37:50.934Z: JOB_MESSAGE_BASIC: Finished operation Write log 1/Write/WriteImpl/DoOnce/Read+Write log 1/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:37:50.981Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/DoOnce/Read.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:37:51.001Z: JOB_MESSAGE_BASIC: Finished operation Write log 2/Write/WriteImpl/DoOnce/Read+Write log 2/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:37:51.009Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/InitializeWrite.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:37:51.060Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:37:51.080Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:37:51.101Z: JOB_MESSAGE_BASIC: Finished operation Write log 1/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:37:51.105Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:37:51.124Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/DoOnce/Read.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:37:51.126Z: JOB_MESSAGE_BASIC: Finished operation Write log 1/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:37:51.147Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/InitializeWrite.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:37:51.154Z: JOB_MESSAGE_BASIC: Finished operation Write log 1/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:37:51.172Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:37:51.200Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:37:51.224Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:37:51.246Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:37:51.272Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:37:51.288Z: JOB_MESSAGE_BASIC: Finished operation Write log 2/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:37:51.299Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:37:51.334Z: JOB_MESSAGE_BASIC: Finished operation Write log 2/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:37:51.340Z: JOB_MESSAGE_BASIC: Finished operation Write log 2/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:37:51.341Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:37:51.380Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:37:51.407Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:37:51.431Z: JOB_MESSAGE_BASIC: Executing operation Read from BigQuery+Format NULL values+Write log 1/Write/WriteImpl/WriteBundles/WriteBundles+Write log 2/Write/WriteImpl/WriteBundles/WriteBundles+Write BQ table/WriteToBigQuery/NativeWrite+Write log 1/Write/WriteImpl/Pair+Write log 1/Write/WriteImpl/WindowInto(WindowIntoFn)+Write log 1/Write/WriteImpl/GroupByKey/Reify+Write log 1/Write/WriteImpl/GroupByKey/Write+Write log 2/Write/WriteImpl/Pair+Write log 2/Write/WriteImpl/WindowInto(WindowIntoFn)+Write log 2/Write/WriteImpl/GroupByKey/Reify+Write log 2/Write/WriteImpl/GroupByKey/Write
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:37:52.624Z: JOB_MESSAGE_BASIC: BigQuery query issued as job: "dataflow_job_6972508230457273519". You can check its status with the bq tool: "bq show -j --project_id=sunny-advantage-266802 dataflow_job_6972508230457273519".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:39:03.268Z: JOB_MESSAGE_BASIC: BigQuery query completed, job : "dataflow_job_6972508230457273519"
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:39:03.885Z: JOB_MESSAGE_BASIC: BigQuery export job "dataflow_job_7314406606525698140" started. You can check its status with the bq tool: "bq show -j --project_id=sunny-advantage-266802 dataflow_job_7314406606525698140".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:39:34.224Z: JOB_MESSAGE_DETAILED: BigQuery export job progress: "dataflow_job_7314406606525698140" observed total of 1 exported files thus far.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:39:34.246Z: JOB_MESSAGE_BASIC: BigQuery export job finished: "dataflow_job_7314406606525698140"
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:39:39.289Z: JOB_MESSAGE_BASIC: Executing BigQuery import job "dataflow_job_6972508230457270883". You can check its status with the bq tool: "bq show -j --project_id=sunny-advantage-266802 dataflow_job_6972508230457270883".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:39:49.767Z: JOB_MESSAGE_BASIC: BigQuery import job "dataflow_job_6972508230457270883" done.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:39:50.225Z: JOB_MESSAGE_BASIC: Finished operation Read from BigQuery+Format NULL values+Write log 1/Write/WriteImpl/WriteBundles/WriteBundles+Write log 2/Write/WriteImpl/WriteBundles/WriteBundles+Write BQ table/WriteToBigQuery/NativeWrite+Write log 1/Write/WriteImpl/Pair+Write log 1/Write/WriteImpl/WindowInto(WindowIntoFn)+Write log 1/Write/WriteImpl/GroupByKey/Reify+Write log 1/Write/WriteImpl/GroupByKey/Write+Write log 2/Write/WriteImpl/Pair+Write log 2/Write/WriteImpl/WindowInto(WindowIntoFn)+Write log 2/Write/WriteImpl/GroupByKey/Reify+Write log 2/Write/WriteImpl/GroupByKey/Write
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T15:39:50.277Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/GroupByKey/Close

In [6]:
%run TOBACCO_USE_beam.py

query_results PCollection[Read from BigQuery.None]

/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/io/gcp/bigquery.py:1421: BeamDeprecationWarning: options is deprecated since First stable release. References to <pipeline>.options will not be supported
  experiments = p.options.view_as(DebugOptions).experiments or []
INFO:apache_beam.runners.direct.direct_runner:Running pipeline with DirectRunner.
INFO:apache_beam.io.gcp.bigquery_tools:Using location 'US' from table <TableReference
 datasetId: 'cdc_modeled'
 projectId: 'sunny-advantage-266802'
 tableId: 'TOBACCO_USE'> referenced by query SELECT SEQNO, _STATE, SMOKE100, SMOKDAY2, LASTSMK2, USENOW3 FROM cdc_modeled.TOBACCO_USE limit 50
WARNING:apache_beam.io.gcp.bigquery_tools:Dataset sunny-advantage-266802:temp_dataset_27f3d5678b6a431fb2bc8ed01adf08f9 does not exist so we will create it as temporary with location=US
INFO:apache_beam.io.gcp.bigquery_tools:Created table sunny-advantage-266802.cdc_modeled.TOBACCO_USE_Beam with schema <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'SEQNO'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: '_STATE'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'SMOKE100'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'SMOKDAY2'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'LASTSMK2'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'USENOW3'
 type: 'INTEGER'>]>. Result: <Table
 creationTime: 1583685152386
 etag: '1mLVv7Q8fItHHrh7IJ2KEg=='
 id: 'sunny-advantage-266802:cdc_modeled.TOBACCO_USE_Beam'
 kind: 'bigquery#table'
 lastModifiedTime: 1583685152421
 location: 'US'
 numBytes: 0
 numLongTermBytes: 0
 numRows: 0
 schema: <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'SEQNO'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: '_STATE'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'SMOKE100'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'SMOKDAY2'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'LASTSMK2'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'USENOW3'
 type: 'INTEGER'>]>
 selfLink: 'https://www.googleapis.com/bigquery/v2/projects/sunny-advantage-266802/datasets/cdc_modeled/tables/TOBACCO_USE_Beam'
 tableReference: <TableReference
 datasetId: 'cdc_modeled'
 projectId: 'sunny-advantage-266802'
 tableId: 'TOBACCO_USE_Beam'>
 type: 'TABLE'>.
WARNING:apache_beam.io.gcp.bigquery_tools:Sleeping for 150 seconds before the write as BigQuery inserts can be routed to deleted table for 2 mins after the delete and create.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.

In [2]:
%run TOBACCO_USE_beam_dataflow.py

WARNING:apache_beam.options.pipeline_options:--region not set; will default to us-central1. Future releases of Beam will require the user to set --region explicitly, or else have a default set via the gcloud tool. https://cloud.google.com/compute/docs/regions-zones
/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/runners/dataflow/dataflow_runner.py:740: BeamDeprecationWarning: BigQuerySink is deprecated since 2.11.0. Use WriteToBigQuery instead.
  kms_key=transform.kms_key))
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-tobacco-use.1583683950.422969/pipeline.pb...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-tobacco-use.1583683950.422969/pipeline.pb in 0 seconds.
INFO:apache_beam.runners.portability.stager:Downloading source distribution of the SDK from PyPi
INFO:apache_beam.runners.portability.stager:Executing command: ['/home/jupyter/venv/bin/python', '-m', 'pip', 'download', '--dest', '/tmp/tmppb5ok8kl', 'apache-beam==2.19.0', '--no-deps', '--no-binary', ':all:']
INFO:apache_beam.runners.portability.stager:Staging SDK sources from PyPI to gs://beam_cs327e_data_thedataminers/staging/transform-tobacco-use.1583683950.422969/dataflow_python_sdk.tar
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-tobacco-use.1583683950.422969/dataflow_python_sdk.tar...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-tobacco-use.1583683950.422969/dataflow_python_sdk.tar in 0 seconds.
INFO:apache_beam.runners.portability.stager:Downloading binary distribution of the SDK from PyPi
INFO:apache_beam.runners.portability.stager:Executing command: ['/home/jupyter/venv/bin/python', '-m', 'pip', 'download', '--dest', '/tmp/tmppb5ok8kl', 'apache-beam==2.19.0', '--no-deps', '--only-binary', ':all:', '--python-version', '35', '--implementation', 'cp', '--abi', 'cp35m', '--platform', 'manylinux1_x86_64']
INFO:apache_beam.runners.portability.stager:Staging binary distribution of the SDK from PyPI to gs://beam_cs327e_data_thedataminers/staging/transform-tobacco-use.1583683950.422969/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-tobacco-use.1583683950.422969/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://beam_cs327e_data_thedataminers/staging/transform-tobacco-use.1583683950.422969/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl in 1 seconds.
INFO:apache_beam.runners.dataflow.internal.apiclient:Create job: <Job
 createTime: '2020-03-08T16:12:35.835021Z'
 currentStateTime: '1970-01-01T00:00:00Z'
 id: '2020-03-08_09_12_34-5759763053903969610'
 location: 'us-central1'
 name: 'transform-tobacco-use'
 projectId: 'sunny-advantage-266802'
 stageStates: []
 startTime: '2020-03-08T16:12:35.835021Z'
 steps: []
 tempFiles: []
 type: TypeValueValuesEnum(JOB_TYPE_BATCH, 1)>
INFO:apache_beam.runners.dataflow.internal.apiclient:Created job with id: [2020-03-08_09_12_34-5759763053903969610]
INFO:apache_beam.runners.dataflow.internal.apiclient:To access the Dataflow monitoring console, please navigate to https://console.cloud.google.com/dataflow/jobsDetail/locations/us-central1/jobs/2020-03-08_09_12_34-5759763053903969610?project=sunny-advantage-266802
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-03-08_09_12_34-5759763053903969610 is in state JOB_STATE_PENDING
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:34.713Z: JOB_MESSAGE_DETAILED: Autoscaling is enabled for job 2020-03-08_09_12_34-5759763053903969610. The number of workers will be between 1 and 1000.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:34.713Z: JOB_MESSAGE_DETAILED: Autoscaling was automatically enabled for job 2020-03-08_09_12_34-5759763053903969610.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:37.888Z: JOB_MESSAGE_DETAILED: Checking permissions granted to controller Service Account.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:38.601Z: JOB_MESSAGE_BASIC: Worker configuration: n1-standard-4 in us-central1-c.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:39.183Z: JOB_MESSAGE_DETAILED: Expanding CoGroupByKey operations into optimizable parts.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:39.222Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Write log 2/Write/WriteImpl/GroupByKey: GroupByKey not followed by a combiner.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:39.253Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Write log 1/Write/WriteImpl/GroupByKey: GroupByKey not followed by a combiner.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:39.296Z: JOB_MESSAGE_DETAILED: Expanding GroupByKey operations into optimizable parts.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:39.337Z: JOB_MESSAGE_DETAILED: Lifting ValueCombiningMappingFns into MergeBucketsMappingFns
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:39.449Z: JOB_MESSAGE_DEBUG: Annotating graph with Autotuner information.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:39.708Z: JOB_MESSAGE_DETAILED: Fusing adjacent ParDo, Read, Write, and Flatten operations
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:39.748Z: JOB_MESSAGE_DETAILED: Fusing consumer Format NULL values into Read from BigQuery
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:39.780Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/WriteBundles/WriteBundles into Read from BigQuery
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:39.822Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/WriteBundles/WriteBundles into Format NULL values
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:39.857Z: JOB_MESSAGE_DETAILED: Fusing consumer Write BQ table/WriteToBigQuery/NativeWrite into Format NULL values
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:39.895Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/Pair into Write log 1/Write/WriteImpl/WriteBundles/WriteBundles
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:39.930Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/WindowInto(WindowIntoFn) into Write log 1/Write/WriteImpl/Pair
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:39.969Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/GroupByKey/Reify into Write log 1/Write/WriteImpl/WindowInto(WindowIntoFn)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:40.013Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/GroupByKey/Write into Write log 1/Write/WriteImpl/GroupByKey/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:40.037Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/GroupByKey/GroupByWindow into Write log 1/Write/WriteImpl/GroupByKey/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:40.076Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/Extract into Write log 1/Write/WriteImpl/GroupByKey/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:40.111Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/Pair into Write log 2/Write/WriteImpl/WriteBundles/WriteBundles
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:40.136Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/WindowInto(WindowIntoFn) into Write log 2/Write/WriteImpl/Pair
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:40.170Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/GroupByKey/Reify into Write log 2/Write/WriteImpl/WindowInto(WindowIntoFn)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:40.209Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/GroupByKey/Write into Write log 2/Write/WriteImpl/GroupByKey/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:40.243Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/GroupByKey/GroupByWindow into Write log 2/Write/WriteImpl/GroupByKey/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:40.277Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/Extract into Write log 2/Write/WriteImpl/GroupByKey/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:40.312Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 1/Write/WriteImpl/InitializeWrite into Write log 1/Write/WriteImpl/DoOnce/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:40.346Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 2/Write/WriteImpl/InitializeWrite into Write log 2/Write/WriteImpl/DoOnce/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:40.422Z: JOB_MESSAGE_DEBUG: Workflow config is missing a default resource spec.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:40.453Z: JOB_MESSAGE_DEBUG: Adding StepResource setup and teardown to workflow graph.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:40.492Z: JOB_MESSAGE_DEBUG: Adding workflow start and stop steps.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:40.528Z: JOB_MESSAGE_DEBUG: Assigning stage ids.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:40.735Z: JOB_MESSAGE_DEBUG: Executing wait step start29
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:41.039Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/DoOnce/Read+Write log 2/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:41.119Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/DoOnce/Read+Write log 1/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:41.168Z: JOB_MESSAGE_DEBUG: Starting worker pool setup.
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-03-08_09_12_34-5759763053903969610 is in state JOB_STATE_RUNNING
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:41.252Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:41.284Z: JOB_MESSAGE_BASIC: Starting 1 workers in us-central1-c...
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:41.349Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:41.436Z: JOB_MESSAGE_BASIC: Finished operation Write log 2/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:41.460Z: JOB_MESSAGE_BASIC: Finished operation Write log 1/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:41.526Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/GroupByKey/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:12:41.565Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/GroupByKey/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:13:08.652Z: JOB_MESSAGE_DETAILED: Autoscaling: Raised the number of workers to 1 based on the rate of progress in the currently running step(s).
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:14:35.389Z: JOB_MESSAGE_DETAILED: Workers have started successfully.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:14:35.438Z: JOB_MESSAGE_DETAILED: Workers have started successfully.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:15:04.938Z: JOB_MESSAGE_BASIC: Finished operation Write log 2/Write/WriteImpl/DoOnce/Read+Write log 2/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:15:04.993Z: JOB_MESSAGE_BASIC: Finished operation Write log 1/Write/WriteImpl/DoOnce/Read+Write log 1/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:15:05.017Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/DoOnce/Read.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:15:05.056Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/InitializeWrite.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:15:05.094Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/DoOnce/Read.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:15:05.133Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/InitializeWrite.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:15:05.172Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:15:05.207Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:15:05.232Z: JOB_MESSAGE_BASIC: Finished operation Write log 2/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:15:05.238Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:15:05.270Z: JOB_MESSAGE_BASIC: Finished operation Write log 2/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:15:05.277Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:15:05.301Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:15:05.303Z: JOB_MESSAGE_BASIC: Finished operation Write log 2/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:15:05.334Z: JOB_MESSAGE_BASIC: Finished operation Write log 1/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:15:05.338Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:15:05.341Z: JOB_MESSAGE_BASIC: Finished operation Write log 1/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:15:05.374Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:15:05.409Z: JOB_MESSAGE_BASIC: Finished operation Write log 1/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:15:05.413Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:15:05.451Z: JOB_MESSAGE_DEBUG: Value "Write log 2/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:15:05.483Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:15:05.514Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:15:05.542Z: JOB_MESSAGE_DEBUG: Value "Write log 1/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:15:05.592Z: JOB_MESSAGE_BASIC: Executing operation Read from BigQuery+Format NULL values+Write log 1/Write/WriteImpl/WriteBundles/WriteBundles+Write log 2/Write/WriteImpl/WriteBundles/WriteBundles+Write BQ table/WriteToBigQuery/NativeWrite+Write log 1/Write/WriteImpl/Pair+Write log 1/Write/WriteImpl/WindowInto(WindowIntoFn)+Write log 1/Write/WriteImpl/GroupByKey/Reify+Write log 1/Write/WriteImpl/GroupByKey/Write+Write log 2/Write/WriteImpl/Pair+Write log 2/Write/WriteImpl/WindowInto(WindowIntoFn)+Write log 2/Write/WriteImpl/GroupByKey/Reify+Write log 2/Write/WriteImpl/GroupByKey/Write
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:15:06.714Z: JOB_MESSAGE_BASIC: BigQuery query issued as job: "dataflow_job_592784597995934580". You can check its status with the bq tool: "bq show -j --project_id=sunny-advantage-266802 dataflow_job_592784597995934580".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:16:12.438Z: JOB_MESSAGE_BASIC: BigQuery query completed, job : "dataflow_job_592784597995934580"
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:16:13.028Z: JOB_MESSAGE_BASIC: BigQuery export job "dataflow_job_14319701332988448134" started. You can check its status with the bq tool: "bq show -j --project_id=sunny-advantage-266802 dataflow_job_14319701332988448134".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:16:43.374Z: JOB_MESSAGE_DETAILED: BigQuery export job progress: "dataflow_job_14319701332988448134" observed total of 1 exported files thus far.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:16:43.419Z: JOB_MESSAGE_BASIC: BigQuery export job finished: "dataflow_job_14319701332988448134"
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:16:48.872Z: JOB_MESSAGE_BASIC: Executing BigQuery import job "dataflow_job_592784597995937400". You can check its status with the bq tool: "bq show -j --project_id=sunny-advantage-266802 dataflow_job_592784597995937400".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:16:59.288Z: JOB_MESSAGE_BASIC: BigQuery import job "dataflow_job_592784597995937400" done.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:16:59.930Z: JOB_MESSAGE_BASIC: Finished operation Read from BigQuery+Format NULL values+Write log 1/Write/WriteImpl/WriteBundles/WriteBundles+Write log 2/Write/WriteImpl/WriteBundles/WriteBundles+Write BQ table/WriteToBigQuery/NativeWrite+Write log 1/Write/WriteImpl/Pair+Write log 1/Write/WriteImpl/WindowInto(WindowIntoFn)+Write log 1/Write/WriteImpl/GroupByKey/Reify+Write log 1/Write/WriteImpl/GroupByKey/Write+Write log 2/Write/WriteImpl/Pair+Write log 2/Write/WriteImpl/WindowInto(WindowIntoFn)+Write log 2/Write/WriteImpl/GroupByKey/Reify+Write log 2/Write/WriteImpl/GroupByKey/Write
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:17:00.007Z: JOB_MESSAGE_BASIC: Executing operation Write log 2/Write/WriteImpl/GroupByKey/Close
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T16:17:00.041Z: JOB_MESSAGE_BASIC: Executing operation Write log 1/Write/WriteImpl/GroupByKey/Close

In [ ]:
## Checking for primary keys in each table

In [6]:
%%bigquery
select count(SEQNO) from cdc_modeled.DEMOGRAPHIC_Beam

   f0_
0   50

In [7]:
%%bigquery
select count(distinct SEQNO) from cdc_modeled.DEMOGRAPHIC_Beam

   f0_
0   50

In [12]:
%%bigquery
select count(SEQNO) from cdc_modeled.DEMOGRAPHIC_Beam_DF

     f0_
0  35019

In [11]:
%%bigquery
select count(distinct SEQNO) from cdc_modeled.DEMOGRAPHIC_Beam_DF

     f0_
0  35019

In [ ]:
### As both count SEQNO and count distinct SEQNO gives the same values of DEMOGRAPHIC_Beam_DF of 35019, which confirms that this is primary key.

In [6]:
%%bigquery
select count(SEQNO) from cdc_modeled.OVERALL_Health_Status_Beam

   f0_
0   50

In [5]:
%%bigquery
select count(distinct SEQNO) from cdc_modeled.OVERALL_Health_Status_Beam

   f0_
0   50

In [12]:
%%bigquery
select count(SEQNO) from cdc_modeled.OVERALL_Health_Status_Beam_DF

     f0_
0  35019

In [4]:
%%bigquery
select count(distinct SEQNO) from cdc_modeled.OVERALL_Health_Status_Beam_DF

     f0_
0  35019

In [ ]:
### As both count SEQNO and count distinct SEQNO gives the same values of OVERALL_Health_Status_Beam_DF of 35019, which confirms that this is primary key.
### This is also the same value as that in DEMOGRAPHIC_Beam_DF, which is correct.

In [3]:
%%bigquery
select count(SEQNO) from cdc_modeled.TOBACCO_USE_Beam

   f0_
0   50

In [2]:
%%bigquery
select count(distinct SEQNO) from cdc_modeled.TOBACCO_USE_Beam

   f0_
0   50

In [15]:
%%bigquery
select count(SEQNO) from cdc_modeled.TOBACCO_USE_Beam_DF

     f0_
0  35019

In [16]:
%%bigquery
select count(distinct SEQNO) from cdc_modeled.TOBACCO_USE_Beam_DF

     f0_
0  35019

In [ ]:
### As both count SEQNO and count distinct SEQNO gives the same values of TOBACCO_USE_Beam_DF of 35019, which confirms that this is primary key.
### This is also the same value as that in DEMOGRAPHIC_Beam_DF and OVERALL_Health_Status_Beam_DF, which is correct.

In [2]:
%%bigquery
select count(SEQNO) from cdc_modeled.HEALTH_CARE_Beam

   f0_
0  100

In [3]:
%%bigquery
select count(distinct SEQNO) from cdc_modeled.HEALTH_CARE_Beam

   f0_
0   50

In [ ]:
### Count for HEALTH_CARE_Beam seems to be having issues. This is addressed in Transforms.txt

In [4]:
%%bigquery
select count(SEQNO) from cdc_modeled.HEALTH_CARE_Beam_DF

     f0_
0  33231

In [5]:
%%bigquery
select count(distinct SEQNO) from cdc_modeled.HEALTH_CARE_Beam_DF

     f0_
0  24102